{#
/**
 * @file
 * Label component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the label.
 * - label: The label's text.
 * - variant: Label display setting. It can have these values:
 *   - before: The label is output before the element. This is the default.
 *   - after: The label is output after the element; e.g., radio and checkbox.
 *   - invisible: Hides the label for everyone except screen readers.
 * - size: (sm|base|lg|xl) Affects padding and label scale. Default is base.
 * - isRequired: (optional) TRUE if the associated form element is required.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the label is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the label is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the label is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see form-element-label.html.twig
 */
#}
{% set variant = variant ?? 'before' %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{% set requiredClasses = ['tw-font-light'] %}
{% if variant == 'invisible' -%}
  {% set classes = ['tw-sr-only'] %}
{% else -%}
  {%
    set classes = [
      'tw-font-medium',
      '!tw-inline-block',
      variant == 'before' ? 'tw-mb-1' : '',
    ]
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-sm',
      'md:tw-text-base',
    ])
  %}
  {% set requiredClasses = requiredClasses|merge(['tw-text-xs']) %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'md:tw-text-xl',
    ])
  %}
  {% set requiredClasses = requiredClasses|merge(['tw-text-xs']) %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'md:tw-text-2xl',
    ])
  %}
  {% set requiredClasses = requiredClasses|merge(['tw-text-sm']) %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-text-base',
      'md:tw-text-lg',
    ])
  %}
  {% set requiredClasses = requiredClasses|merge(['tw-text-xs']) %}
{%- endif %}
{%
  set classes = classes|merge([
    colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
    colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-gray-800',
  ])
%}
{%
  set requiredClasses = requiredClasses|merge([
    colorMode == 'auto' ? 'dark:tw-text-red-300' : '',
    colorMode == 'dark' ? 'tw-text-red-300' : 'tw-text-red',
  ])
%}
<label{{ attributes.addClass(classes) }}>{{ label }}{% if isRequired %} <span class="{{ requiredClasses|join(' ') }}">(required)</span>{% endif %}</label>
