{#
/**
 * @file
 * Button component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the button element.
 * - type: (button|submit|link) If 'button' or 'submit', renders as a <button>.
 *   If 'link', renders as <a> and attributes is expected to contain href.
 *   Alternatively, you can use the href property (below) to set the attribute.
 * - href: If given, sets attributes.href when type == 'link'.
 * - label: Text to display in the button.
 * - variant: (optional) Button variant. It can have these values:
 *   - primary: Used for the primary action on a form or in a button group.
 *   - secondary: Used for secondary actions. This is the default.
 *   - danger: Used for actions that could be destructive or that merit
 *     consideration before proceeding, often with an "Are you sure?" message.
 * - size: (sm|base|lg|xl) Affects padding and label scale. Default is base.
 * - width: Button width. It can have these values:
 *   - auto: The button is sized to its label.
 *   - full: The button fills the available width.
 *   - responsive: Acts like 'full' on mobile screens, 'auto' on larger screens.
 *     This is the default.
 * - isDisabled: Boolean indicating whether the button is disabled.
 * - isQuiet: Boolean indicating whether to use more subdued styling. Ignored
 *   when variant is 'primary'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the button is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the button is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the button is against a dark background color and thus should
 *     always use its dark mode color.
 * - isPrefix: Boolean indicating whether the button is prepending something.
 * - isSuffix: Boolean indicating whether the button is appending to something.
 *
 * Available blocks:
 * - button_label: Used to replace the label with something other than plain
 *   text; for example, to include an icon.
 *
 * @see input--submit.html.twig
 */
#}
{% set colorMode = colorMode ?? 'auto' %}
{% set size = size ?? 'base' %}
{% set type = type ?? 'button' %}
{% set variant = variant ?? 'secondary' %}
{% set isPrefix = isPrefix ?? false %}
{% set isSuffix = isSuffix ?? false %}
{% set width = width ?? 'responsive' %}
{% if type == 'button' or type == 'submit' -%}
  {% set tag = 'button' %}
  {% set attributes = attributes.setAttribute('type', type) %}
  {% if isDisabled -%}
    {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%- endif %}
{% elseif isDisabled -%}
  {% set tag = 'span' %}
  {% set attributes = attributes.removeAttribute('href') %}
{% else -%}
  {% set tag = 'a' %}
  {% if href is not empty -%}
    {% set attributes = attributes.setAttribute('href', href) %}
  {% endif %}
{%- endif %}
{%
  set classes = [
    width == 'auto' ? 'tw-inline-block' : 'tw-flex',
    width == 'auto' ? '' : 'tw-w-full',
    width == 'responsive' ? 'sm:tw-inline-flex' : '',
    width == 'responsive' ? 'sm:tw-w-auto' : '',
    'tw-items-center',
    'tw-justify-center',
    'tw-text-center',
    isPrefix or isSuffix ? 'tw-border-t' : 'tw-border',
    isPrefix or isSuffix ? 'tw-border-b' : '',
    isPrefix ? '' : 'tw-border-r',
    isSuffix ? '' : 'tw-border-l',
    isPrefix or isSuffix ? '' : 'tw-rounded',
    isPrefix ? 'tw-rounded-l' : '',
    isSuffix ? 'tw-rounded-r' : '',
    'tw-font-medium',
    'focus:tw-outline-none',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    'pointer-coarse:tw-min-w-touch',
    'pointer-coarse:tw-min-h-touch',
    isDisabled ? 'tw-cursor-not-allowed' : 'tw-cursor-pointer',
  ]
%}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-sm',
      'tw-px-4',
      'tw-py-2',
      'md:tw-text-base',
    ])
  %}
{% elseif size == 'base' -%}
  {%
    set classes = classes|merge([
      'tw-text-base',
      'tw-px-4',
      'tw-py-2',
      'md:tw-text-lg',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'tw-px-4',
      'tw-py-2',
      'md:tw-text-xl',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'tw-px-4',
      'tw-py-2.5',
      'md:tw-text-2xl',
      'md:tw-px-5',
    ])
  %}
{%- endif %}
{% if isDisabled -%}
  {% if isQuiet -%}
    {%
      set classes = classes|merge([
        'tw-border-transparent',
        'tw-bg-transparent',
        colorMode == 'auto' ? 'dark:tw-text-gray-400' : '',
        colorMode == 'dark' ? 'tw-text-gray-400' : 'tw-text-gray-500',
      ])
    %}
  {% else -%}
    {%
      set classes = classes|merge([
        'tw-bg-transparent',
        colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
        colorMode == 'auto' ? 'dark:tw-text-gray-400' : '',
        colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
        colorMode == 'dark' ? 'tw-text-gray-400' : 'tw-text-gray-500',
      ])
    %}
  {%- endif %}
{% elseif variant == 'primary' -%}
  {%
    set classes = classes|merge([
      'tw-border-gold-400',
      'tw-bg-gold-400',
      'tw-text-gray-800',
      colorMode == 'auto' ? 'dark:hover:tw-border-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:tw-bg-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:tw-text-gray-800' : '',
      colorMode == 'dark' ? 'hover:tw-border-gold-300' : 'hover:tw-border-brown-900',
      colorMode == 'dark' ? 'hover:tw-bg-gold-300' : 'hover:tw-bg-brown-900',
      colorMode == 'dark' ? 'hover:tw-text-gray-800' : 'hover:tw-text-white',
    ])
  %}
{% elseif variant == 'danger' -%}
  {% if isQuiet -%}
    {%
      set classes = classes|merge([
        'tw-border-transparent',
        'tw-bg-transparent',
        'hover:tw-text-white',
        colorMode == 'auto' ? 'dark:tw-text-negativeDarkMode' : '',
        colorMode == 'dark' ? 'tw-text-negativeDarkMode' : 'tw-text-negative',
      ])
    %}
  {% else -%}
    {%
      set classes = classes|merge([
        colorMode == 'auto' ? 'dark:tw-text-red-800' : '',
        colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
        colorMode == 'auto' ? 'dark:tw-bg-negativeDarkMode' : '',
        colorMode == 'dark' ? 'tw-text-red-800' : 'tw-text-white',
        colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
        colorMode == 'dark' ? 'tw-bg-negativeDarkMode' : 'tw-bg-negative',
      ])
    %}
  {%- endif %}
  {%
    set classes = classes|merge([
      colorMode == 'auto' ? 'dark:hover:tw-border-red-200' : '',
      colorMode == 'auto' ? 'dark:hover:tw-bg-red-200' : '',
      colorMode == 'auto' ? 'dark:hover:tw-text-red-800' : '',
      colorMode == 'dark' ? 'hover:tw-border-red-200' : 'hover:tw-border-red-800',
      colorMode == 'dark' ? 'hover:tw-bg-red-200' : 'hover:tw-bg-red-800',
      colorMode == 'dark' ? 'hover:tw-text-red-800' : '',
    ])
  %}
{% else -%}
  {% if isQuiet -%}
    {%
      set classes = classes|merge([
        'tw-border-transparent',
        'tw-bg-transparent',
        colorMode == 'auto' ? 'dark:tw-text-white' : '',
        colorMode == 'dark' ? 'tw-text-white' : 'tw-text-blue-700',
      ])
    %}
  {% else -%}
    {%
      set classes = classes|merge([
        'tw-bg-transparent',
        colorMode == 'auto' ? 'dark:tw-border-white' : '',
        colorMode == 'auto' ? 'dark:tw-text-white' : '',
        colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
        colorMode == 'dark' ? 'tw-text-white' : 'tw-text-brown-900',
      ])
    %}
  {%- endif %}
  {%
    set classes = classes|merge([
      colorMode == 'auto' ? 'dark:hover:tw-border-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:tw-bg-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:tw-text-gray-800' : '',
      colorMode == 'dark' ? 'hover:tw-border-gold-300' : 'hover:tw-border-brown-900',
      colorMode == 'dark' ? 'hover:tw-bg-gold-300' : 'hover:tw-bg-brown-900',
      colorMode == 'dark' ? 'hover:tw-text-gray-800' : 'hover:tw-text-white',
    ])
  %}
{%- endif %}
<{{ tag }}{{ attributes.addClass(classes) }}>
  {% block button_label %}
    {{ label }}
  {% endblock %}
</{{ tag }}>
