{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-wrapper',
    'form-wrapper',
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{%
  set legend_classes = [
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{%
  set legend = {
    'title': legend.title,
    'attributes': legend.attributes.addClass(legend_classes),
  }
%}
{%
  set vars = {
    'attributes': attributes,
    'errors': errors,
    'required': required,
    'legend': legend,
    'description': description,
    'children': children,
    'prefix': prefix,
    'suffix': suffix,
  }
%}
{% include '@molecules/form/fieldset/fieldset.twig' with vars only %}
