{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: The form element's title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title is not empty or required -%}
  {%
    set vars = {
      'attributes': attributes.addClass(classes),
      'label': title,
      'variant': title_display,
      'isRequired': required,
    }
  %}
  {% include '@atoms/label/label.twig' with vars only %}
{%- endif %}
