{#
/**
 * @file
 * Theme override for an 'input' #type submit form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set attributes = attributes.addClass('tw-mb-[1.125rem]') %}
{% if attributes.hasClass('button--primary') -%}
  {% set attributes = attributes.removeClass('button--primary') %}
  {% set variant = 'primary' %}
{% elseif attributes.hasClass('button--danger') -%}
  {% set attributes = attributes.removeClass('button--danger') %}
  {% set variant = 'danger' %}
{% else -%}
  {% set variant = 'secondary' %}
{%- endif %}
{% if attributes.hasClass('is-disabled') -%}
  {% set attributes = attributes.removeClass('is-disabled') %}
  {% set disabled = true %}
{% else -%}
  {% set disabled = false %}
{%- endif %}
{%
  set vars = {
    'attributes': attributes.removeClass('button'),
    'type': attributes.type,
    'label': attributes.value,
    'variant': variant,
    'isDisabled': disabled,
  }
%}
{% include '@atoms/button/button.twig' with vars only -%}
{{ children }}
