{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - has_prefix: TRUE if the form element has a field prefix.
 * - has_suffix: TRUE if the form element has a field suffix.
 * - has_errors: TRUE if the form element has an error.
 *
 * @see template_preprocess_input()
 */
#}
{% if attributes.hasClass('is-disabled') -%}
  {% set attributes = attributes.removeClass('is-disabled') %}
  {% set disabled = true %}
{% else -%}
  {% set disabled = false %}
{%- endif %}
{% set readonly = attributes.readonly == 'readonly' %}
{% set character_limit = attributes.maxlength ?? 0 %}
{%
  set vars = {
    'attributes': attributes,
    'type': attributes.type,
    'isDisabled': disabled,
    'isReadOnly': readonly,
    'hasPrefix': has_prefix,
    'hasSuffix': has_suffix,
    'hasErrors': has_errors,
    'characterLimit': character_limit,
  }
%}
{% include '@atoms/textfield/textfield.twig' with vars only %}
{{ children }}
