{#
/**
 * @file
 * Theme override for an 'input' #type radio form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - has_prefix: TRUE if the form element has a field prefix.
 * - has_suffix: TRUE if the form element has a field suffix.
 * - has_errors: TRUE if the form element has an error.
 *
 * @see template_preprocess_input()
 */
#}
{% if attributes.hasClass('is-disabled') -%}
  {% set attributes = attributes.removeClass('is-disabled') %}
  {% set disabled = true %}
{% else -%}
  {% set disabled = false %}
{%- endif %}
{%
  set vars = {
    'attributes': attributes,
    'isSelected': attributes.checked == 'checked',
    'isDisabled': disabled,
    'hasErrors': has_errors,
  }
%}
{% include '@atoms/radio/radio.twig' with vars only %}
{{ children }}
