{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 * - has_prefix: TRUE if the form element has a field prefix.
 * - has_suffix: TRUE if the form element has a field suffix.
 * - has_errors: TRUE if the form element has an error.
 *
 * @see template_preprocess_select()
 */
#}
{% if attributes.hasClass('is-disabled') -%}
  {% set attributes = attributes.removeClass('is-disabled') %}
  {% set disabled = true %}
{% else -%}
  {% set disabled = false %}
{%- endif %}
{%
  set vars = {
    'attributes': attributes,
    'options': options,
    'isDisabled': disabled,
    'hasErrors': has_errors,
  }
%}
{% include '@atoms/select/select.twig' with vars only %}
