{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables:
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 * - has_errors: TRUE if the form element has an error.
 *
 * @see template_preprocess_textarea()
 */
#}
{% if attributes.hasClass('is-disabled') -%}
  {% set attributes = attributes.removeClass('is-disabled') %}
  {% set disabled = true %}
{% else -%}
  {% set disabled = false %}
{%- endif %}
{% set readonly = attributes.readonly == 'readonly' %}
{% set character_limit = attributes.maxlength ?? 0 %}
{%
  set vars = {
    'wrapperAttributes': wrapper_attributes,
    'attributes': attributes,
    'value': value,
    'isDisabled': disabled,
    'isReadOnly': readonly,
    'hasErrors': has_errors,
    'characterLimit': character_limit,
  }
%}
{% include '@atoms/textarea/textarea.twig' with vars only %}
