{#
/**
 * @file
 * Calendar component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the container of the Calendar.
 * - labelAttributes: HTML attributes for headings of the Calendar items.
 * - items: Array of objects representing the events to display.
 * - variant: (expanded|compact).
 * - level: An integer 1..6 indicating the heading level to use for the label.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the link is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the link is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the link is against a dark background color and thus should
 *     always use its dark mode color.
 */
#}
{%
  set classes = [
    'tw-w-fit',
    'tw-mx-auto',
  ]
%}
{%
  set eventClasses = [
    'tw-flex',
    'tw-flex-wrap',
    'tw-mb-8',
    'last:tw-mb-0',
    'tw-rounded',
    'tw-border',
    'tw-overflow-hidden',
    'tw-outline-none',
    'focus:tw-ring-1',
    'focus:tw-ring-gold',
    'focus:tw-border-gold',
    'hover:tw-ring-1',
    'hover:tw-ring-gold',
    'hover:tw-border-gold',
    colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
    colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
    colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
    colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-300',
    colorMode == 'auto' ? 'dark:focus:tw-ring-gold' : '',
    colorMode == 'auto' ? 'dark:focus:tw-border-gold' : '',
    colorMode == 'auto' ? 'dark:hover:tw-ring-gold' : '',
    colorMode == 'auto' ? 'dark:hover:tw-border-gold' : '',
    colorMode == 'auto' ? 'dark:focus:tw-bg-trueGray-900' : '',
    colorMode == 'auto' ? 'dark:hover:tw-bg-trueGray-900' : '',
    colorMode == 'dark' ? 'focus:tw-bg-trueGray-900' : 'focus:tw-bg-trueGray-100',
    colorMode == 'dark' ? 'hover:tw-bg-trueGray-900' : 'hover:tw-bg-trueGray-100',
  ]
%}
{% set itemClasses = [] %}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {% if variant == 'expanded' %}
      <a class="{{ eventClasses|join(' ') }}" href="{{ item.url }}">
        {% if item.media %}
          <div class="tw-flex-initial tw-w-full sm:tw-max-w-xs tw-max-h-52 sm:tw-max-h-[unset] sm:tw-w-4/12 tw-child-w-full tw-child-h-full tw-child-object-cover tw-child-object-center">
          {{ item.media }}
          </div>
        {% endif %}
        <div class="tw-flex-auto xl:tw-flex tw-gap-x-6 sm:tw-w-6/12 tw-p-4 md:tw-p-6 tw-flex-wrap tw-content-start">
          <div class="tw-flex-auto tw-max-w-prose tw-mb-4 xl:tw-mb-0 tw-basis-6/12">
            {%
              set labelVars = {
                'attributes': labelAttributes,
                'label': item.heading,
                'level': level,
                'size': 'xs',
                'weight': 'medium',
                'colorMode': colorMode,
                'withMargin': 'true',
              }
            %}
            {% include '@atoms/heading/heading.twig' with labelVars only %}
            {% if item.body %}
              <div>{{ item.body|raw }}</div>
            {% endif %}
          </div>
          {% if item.date or item.time or item.location %}
            <div class="tw-flex tw-gap-x-8 tw-gap-y-2 tw-flex-wrap tw-flex-auto xl:tw-flex-none xl:tw-w-64 tw-h-fit tw-flex-col">
              {% if item.date %}
                <div>
                  <div class="tw-absolute tw-w-4 tw-text-center">
                    {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-calendar-alt','size':'base'} only %}
                  </div>
                  <div class="tw-pl-8">
                    <span class="tw-sr-only">Date:</span>
                    {{ item.date }}
                  </div>
                </div>
              {% endif %}
              {% if item.time %}
                <div>
                  <div class="tw-absolute tw-w-4 tw-text-center">
                    {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-clock','size':'base'} only %}
                  </div>
                  <div class="tw-pl-8">
                    <span class="tw-sr-only">Time:</span>
                    {{ item.time }}
                  </div>
                </div>
              {% endif %}
              {% if item.location %}
                <div>
                  <div class="tw-absolute tw-w-4 tw-text-center">
                    {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-map-marker-alt','size':'base'} only %}
                  </div>
                  <div class="tw-pl-8">
                    <span class="tw-sr-only">Location:</span>
                    {{ item.location }}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </a>
    {% else %}
      {# Compact variant. #}
      <a class="{{ eventClasses|join(' ')}}" href="{{ item.url }}">
        <div class="tw-flex-auto xl:tw-flex tw-gap-x-6 sm:tw-w-6/12 tw-p-4 md:tw-p-6">
          <div class="tw-flex-auto tw-max-w-prose">
            {%
              set labelVars = {
                'attributes': labelAttributes,
                'label': item.heading,
                'level': level,
                'size': 'xs',
                'weight': 'medium',
                'colorMode': colorMode,
                'withMargin': 'true',
              }
            %}
            {% include '@atoms/heading/heading.twig' with labelVars only %}
            {% if item.date or item.time or item.location %}
              <div class="tw-flex tw-gap-x-8 tw-gap-y-2 tw-flex-wrap tw-flex-auto xl:tw-flex-none tw-h-fit tw-flex-row tw-my-4">
                {% if item.date %}
                  <div>
                    <div class="tw-absolute tw-w-4 tw-text-center">
                      {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-calendar-alt','size':'base'} only %}
                    </div>
                    <div class="tw-pl-8">
                      <span class="tw-sr-only">Date:</span>
                      {{ item.date }}
                    </div>
                  </div>
                {% endif %}
                {% if item.time %}
                  <div>
                    <div class="tw-absolute tw-w-4 tw-text-center">
                      {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-clock','size':'base'} only %}
                    </div>
                    <div class="tw-pl-8">
                      <span class="tw-sr-only">Time:</span>
                      {{ item.time }}
                    </div>
                  </div>
                {% endif %}
                {% if item.location %}
                  <div>
                    <div class="tw-absolute tw-w-4 tw-text-center">
                      {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-map-marker-alt','size':'base'} only %}
                    </div>
                    <div class="tw-pl-8">
                      <span class="tw-sr-only">Location:</span>
                      {{ item.location }}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endif %}
            {% if item.body %}
              <div>{{ item.body|raw }}</div>
            {% endif %}
          </div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>
