{#
/**
 * @file
 * Text area component.
 *
 * Available variables:
 * - wrapperAttributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - value: The textarea content.
 * - isDisabled: (optional) Boolean indicating whether the textarea is disabled.
 * - isReadOnly: (optional) Boolean indicating whether the textarea is readonly.
 * - hasErrors: TRUE if form-element.twig will display an error on the textarea.
 * - characterLimit: If greater than 0, sets maxlength attribute and displays
 *   dynamic character count above the textarea.
 * - size: (sm|base|lg|xl) Used for scaling the text. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the textarea is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the textarea is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the textarea is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see textarea.html.twig
 */
#}
{% if characterLimit > 0 -%}
  {{ attach_library('dxp_ui/textarea') }}
  {% set attributes = attributes.setAttribute('maxlength', characterLimit) %}
  {% set wrapperAttributes = wrapperAttributes.setAttribute('data-dxp-character-limit', 'textarea') %}
{%- endif %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{% if isReadOnly -%}
  {% set attributes = attributes.setAttribute('readonly', 'readonly') %}
{%- endif %}
{%
  set classes = [
    'tw-block',
    'tw-w-full',
    'tw-rounded',
    'tw-rounded-br-none',
    'tw-placeholder-italic',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    hasErrors ? 'tw-border-2' : 'tw-border',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-cursor-not-allowed',
      'tw-opacity-100',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
      colorMode == 'dark' ? 'tw-bg-gray-700' : 'tw-bg-gray-100',
      colorMode == 'dark' ? 'tw-text-gray-300' : 'tw-text-gray-600',
      colorMode == 'dark' ? 'tw-placeholder-gray-300' : 'tw-placeholder-gray-600',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-700' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-300' : '',
      colorMode == 'auto' ? 'dark:tw-placeholder-gray-300' : '',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
      colorMode == 'dark' ? 'focus:tw-border-negativeDarkMode' : 'focus:tw-border-negative',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-negativeDarkMode' : 'tw-text-negative',
      colorMode == 'dark' ? 'tw-placeholder-negativeDarkMode' : 'tw-placeholder-negative',
      colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-placeholder-negativeDarkMode' : '',
    ])
  %}
{% else -%}
  {% if isReadOnly -%}
    {%
      set classes = classes|merge([
        'tw-cursor-not-allowed',
        colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
        colorMode == 'dark' ? 'focus:tw-border-gray-600' : 'focus:tw-border-gray-200',
        colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
        colorMode == 'auto' ? 'dark:focus:tw-border-gray-600' : '',
      ])
    %}
  {% else -%}
    {%
      set classes = classes|merge([
        colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
        colorMode == 'dark' ? 'focus:tw-border-white' : 'focus:tw-border-brown-900',
        colorMode == 'auto' ? 'dark:tw-border-white' : '',
        colorMode == 'auto' ? 'dark:focus:tw-border-white' : '',
      ])
    %}
  {%- endif %}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-gray-200' : 'tw-text-gray-700',
      colorMode == 'dark' ? 'tw-placeholder-gray-300' : 'tw-placeholder-gray-600',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-200' : '',
      colorMode == 'auto' ? 'dark:tw-placeholder-gray-300' : '',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-sm',
      'md:tw-text-base',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'md:tw-text-xl',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'md:tw-text-2xl',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-text-base',
      'md:tw-text-lg',
    ])
  %}
{%- endif %}
<div{{ wrapperAttributes }}>
  <textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
