{#
/**
 * @file
 * Media component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - size: (full|prose|7xl|6xl|5xl|4xl|3xl|2xl|xl|lg|md|sm|xs) Controls the
 *   maximum width of the element. Default is "full".
 * - float: (none|left|right) Whether to float the component.
 * - media: An image or video.
 * - label: The caption heading.
 * - caption: The caption text.
 */
#}
{%
  set classes = [
    'tw-bg-gray-100',
    'dark:tw-bg-gray-900',
    'tw-w-full',
    'tw-clear-both',
    'tw-mb-8',
    'tw-mx-auto',
    size == 'prose' ? 'tw-max-w-prose' : '',
    size == '7xl' ? 'tw-max-w-7xl' : '',
    size == '6xl' ? 'tw-max-w-6xl' : '',
    size == '5xl' ? 'tw-max-w-5xl' : '',
    size == '4xl' ? 'tw-max-w-4xl' : '',
    size == '3xl' ? 'tw-max-w-3xl' : '',
    size == '2xl' ? 'tw-max-w-2xl' : '',
    size == 'xl' ? 'tw-max-w-xl' : '',
    size == 'lg' ? 'tw-max-w-lg' : '',
    size == 'md' ? 'tw-max-w-md' : '',
    size == 'sm' ? 'tw-max-w-sm' : '',
    size == 'xs' ? 'tw-max-w-xs' : '',
  ]
%}
{% if float == 'left' -%}
  {% set classes = classes|merge(['lg:tw-float-left', 'lg:tw-mr-8']) %}
{% elseif float == 'right' -%}
  {% set classes = classes|merge(['lg:tw-float-right', 'lg:tw-ml-8']) %}
{% endif %}
{% if label or caption -%}
  <figure{{ attributes.addClass(classes) }}>
    {{ media }}
    <figcaption class="tw-px-4 tw-py-2">
      {% if label -%}
        {% if caption -%}
          <strong>
        {%- endif %}
          {{ label }}
        {% if caption -%}
          </strong><br>
        {%- endif %}
      {%- endif %}
      {{ caption }}
    </figcaption>
  </figure>
{% else -%}
  <div{{ attributes.addClass(classes) }}>{{ media }}</div>
{%- endif %}
