<div class="{{ class }}">
  <h1 class="tw-text-gray-900 dark:tw-text-gray-50 tw-font-extrabold tw-text-4xl tw-mb-1">{{ name }}</h1>
  <pre class="tw-mb-8"><code>{{ class }}</code></pre>
  <div class="tw-prose dark:tw-prose-dark">
    <h2>Glyphs</h2>
    <p class="tw-grid tw-grid-cols-12 tw-gap-4 tw-text-xl {{ weight }}{% if italic %} tw-italic{% endif %}">{% for glyph in glyphs %}<span>{{ glyph }}</span>{% endfor %}</p>
    <h2>Sample</h2>
    <div class="{{ weight }}{% if italic %} tw-italic{% endif %}">{{ sample }}</div>
  </div>
</div>
