{#
/**
 * @file
 * Menu component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - label: The menu item title.
 *   - href: The menu item url.
 *   - inActiveTrail: TRUE if the item is in the active breadcrumb trail.
 *   - type: The type of menu item, as follows:
 *     - 'link': A link.
 *     - 'nolink': An unlinked item.
 *     - 'button': A button that can be clicked to expand subitems.
 *   - children: (optional) Contains a child menu as follows:
 *     - id: A unique HTML ID for the child menu element. This value should also
 *       be set in attributes (below), but is provided separately to work around
 *       issues accessing Attributes properties with Twig.js in Storybook.
 *     - attributes: A list of HTML attributes for the child menu.
 *     - items: An array of child menu items.
 * - variant: (main|header|footer|sidebar) The type of menu to render.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the links are against the site's default background and thus
 *     should adjust their color as needed for light/dark mode.
 *   - 'light': the links are against a light background color and thus should
 *     always use their light mode color.
 *   - 'dark': the links are against a dark background color and thus should
 *     always use their dark mode color.
 * - size: (sm|base) Controls the size of the menu links.  Default is 'base'.
 */
#}
{% import '@molecules/menu/menuMacro.twig' as menus %}
{{ attach_library('dxp_ui/menu') }}
{% set colorMode = colorMode ?? 'auto' %}
{% set size = size ?? 'base' %}
{% set classes = ['dxp-ui-menu'] %}
{%
  set itemClasses = {
    'item': [],
    'link': [
      colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-brown',
      colorMode == 'dark' ? 'focus-visible:tw-ring-offset-gray-800' : 'focus-visible:tw-ring-offset-white',
      colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
      colorMode == 'auto' ? 'dark:focus-visible:tw-ring-offset-gray-800' : '',
    ],
    'active': [
      'tw-px-3',
      'tw-py-2',
      'tw-w-full',
      'tw-block',
      'focus-visible:tw-outline-none',
      'focus-visible:tw-ring-2',
      'focus-visible:tw-ring-blue-500',
      'focus-visible:tw-ring-offset-4',
      colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-black',
      colorMode == 'dark' ? 'focus-visible:tw-ring-offset-gray-800' : 'focus-visible:tw-ring-offset-white',
      colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
      colorMode == 'auto' ? 'dark:focus-visible:tw-ring-offset-gray-800' : '',
    ],
    'unlinked': [
      'tw-px-3',
      'tw-py-2',
      'tw-w-full',
      'tw-block',
      colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-black',
      colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
    ],
    'button': [
      colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-brown',
      colorMode == 'dark' ? 'focus-visible:tw-ring-offset-gray-800' : 'focus-visible:tw-ring-offset-white',
      colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
      colorMode == 'auto' ? 'dark:focus-visible:tw-ring-offset-gray-800' : '',
    ],
    'submenu': [],
    'subitem': [],
  }
%}
{% if variant == 'main' %}
  {%
    set classes = classes|merge([
      'dxp-ui-main',
      size == 'sm' ? 'tw-text-xs' : 'tw-text-sm',
      size == 'sm' ? 'md:tw-text-sm' : 'md:tw-text-base',
      'tw-flex',
      'tw-flex-col',
      'xl:tw-flex-row',
      'tw-gap-4',
      'xl:tw-gap-x-1.5',
      'tw-relative',
    ])
  %}
  {%
    set itemClasses = itemClasses|merge({
      'link': itemClasses.link|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        'tw-font-medium',
      ]),
      'active': itemClasses.active|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        'tw-font-bold',
      ]),
      'unlinked': itemClasses.unlinked|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'tw-font-semibold',
      ]),
      'button': itemClasses.button|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        'tw-font-medium',
      ]),
      'subitem': itemClasses.subitem|merge([
        'tw-my-2',
        'tw-px-1',
      ]),
    })
  %}
{% elseif variant == 'header' %}
  {%
    set classes = classes|merge([
      'dxp-ui-header',
      size == 'sm' ? 'tw-text-sm' : 'tw-text-base',
      'tw-font-bold',
      'tw-uppercase',
    ])
  %}
  {%
    set itemClasses = itemClasses|merge({
      'item': itemClasses.item|merge([
        'tw-inline-block',
        'sm:tw-inline-block',
      ]),
      'link': itemClasses.link|merge([
        'sm:tw-inline-block',
      ]),
      'active': itemClasses.active|merge([
        'sm:tw-inline-block',
      ]),
      'unlinked': itemClasses.unlinked|merge([
        'sm:tw-inline-block',
      ]),
    })
  %}
{% elseif variant == 'footer' %}
  {%
    set classes = classes|merge([
      'dxp-ui-footer',
      size == 'sm' ? 'tw-text-xs' : 'tw-text-sm',
      size == 'sm' ? 'md:tw-text-sm' : 'md:tw-text-base',
      'tw-flex',
      'tw-flex-wrap',
      'tw-gap-4',
      'md:tw-gap-6',
    ])
  %}
  {%
    set itemClasses = itemClasses|merge({
      'item': itemClasses.item|merge([
        'tw-flex-auto',
      ]),
      'link': itemClasses.link|merge([
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-200',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
      ]),
      'active': itemClasses.active|merge([
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-200',
        colorMode == 'dark' ? 'tw-font-semibold' : 'tw-font-medium',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        colorMode == 'auto' ? 'dark:tw-font-semibold' : '',
      ]),
      'unlinked': itemClasses.unlinked|merge([
        'tw-text-sm',
        'md:tw-text-base',
        colorMode == 'dark' ? 'tw-font-semibold' : 'tw-font-medium',
        colorMode == 'auto' ? 'dark:tw-font-semibold' : '',
      ]),
    })
  %}
{% else %}
  {# variant == 'sidebar' #}
  {%
    set classes = classes|merge([
      'dxp-ui-sidebar',
      'tw-font-medium',
      size == 'sm' ? 'tw-text-xs' : 'tw-text-sm',
      size == 'sm' ? 'md:tw-text-sm' : 'md:tw-text-base',
      'tw-max-w-xs',
    ])
  %}
  {%
    set itemClasses = itemClasses|merge({
      'link': itemClasses.link|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
      ]),
      'active': itemClasses.active|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        'tw-font-bold',
      ]),
      'unlinked': itemClasses.unlinked|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'tw-font-semibold',
      ]),
      'button': itemClasses.button|merge([
        'tw-border-l-8',
        'tw-border-transparent',
        'hover:tw-border-gold',
        colorMode == 'dark' ? 'hover:tw-bg-gray-600' : 'hover:tw-bg-gray-100',
        colorMode == 'auto' ? 'dark:hover:tw-bg-gray-600' : '',
        'tw-font-medium',
      ]),
      'submenu': itemClasses.submenu|merge([
        'tw-ml-6',
      ]),
    })
  %}
{% endif %}
{{ menus.menuMacro(items, attributes.addClass(classes), itemClasses) }}
