{#
/**
 * A Twig macro for rendering menu items.
 *
 * @param array items
 *   A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - label: The menu link title.
 *   - href: The menu link url.
 *   - inActiveTrail: TRUE if the link is in the active breadcrumb trail.
 *   - type: The type of link, as follows:
 *     - 'link': A regular link.
 *     - 'nolink': An unlinked item.
 *     - 'button': A button that can be clicked to expand subitems.
 *   - children: (optional) Contains a child menu as follows:
 *     - id: A unique HTML ID for the child menu element. This value should also
 *       be set in attributes (below), but is provided separately to work around
 *       issues accessing Attributes properties with Twig.js in Storybook.
 *     - attributes: A list of HTML attributes for the child menu.
 *     - items: An array of child menu items.
 * @param \Drupal\Core\Template\Attribute attributes
 *   A list of HTML attributes for the top-level <ul> element.
 * @param object itemClasses
 *   Classes to apply to various elements of the menu. All keys are optional.
 *   May contain:
 *   - 'item': Classes for the top-level <li> elements.
 *   - 'link': Classes for the <a> elements.
 *   - 'active': Alternate classes for <a> elements in the active menu trail.
 *   - 'unlinked': Classes for unlinked menu items rendered as <span> elements.
 *   - 'button': Classes for menu items used to toggle submenus.
 *   - 'submenu': Classes for nested <ul> elements.
 *   - 'subitem': Classes for nested <li> elements.
 * @param int level
 *   For internal use. Tracks the current nesting level on recursive calls.
 */
#}
{% macro menuMacro(items, attributes, itemClasses = {}, level = 0) -%}
  {% if items %}
    {% set liAttributes = '' %}
    {% if level == 0 %}
      {% if itemClasses.item %}
        {% set liAttributes %} class="{{ itemClasses.item|join(' ') }}"{% endset %}
      {% endif %}
    {% else %}
      {% if itemClasses.subitem %}
        {% set liAttributes %} class="{{ itemClasses.subitem|join(' ') }}"{% endset %}
      {% endif %}
    {% endif %}

    {% set linkClasses = itemClasses.link ?? [] %}
    {% set activeLinkClasses = itemClasses.active ?? [] %}
    {% set unlinkedItemClasses = itemClasses.unlinked ?? [] %}
    {% set buttonItemClasses = itemClasses.button ?? [] %}

    <ul{{ attributes }}>
      {% for item in items %}
        <li{{ liAttributes }}>
          {% set itemAttributes = item.attributes %}
          {% if item.type == 'link' -%}
            {% if item.children %}
              <div class="tw-flex">
              {% set itemAttributes = itemAttributes.addClass(['tw-flex-auto']) %}
            {% endif %}
            {% if item.inActiveTrail %}
              {% set aClasses = activeLinkClasses %}
            {% else %}
              {% set aClasses = linkClasses %}
            {% endif %}
            {% if aClasses %}
              {% set itemAttributes = itemAttributes.addClass(aClasses) %}
            {% endif %}
            {%
              set linkVars = {
                'attributes': itemAttributes,
                'label': item.label,
                'href': item.href,
                'variant': 'menu',
              }
            %}
            {% include '@atoms/link/link.twig' with linkVars only %}
          {% endif %}
          {% if item.type == 'link' or item.type == 'button' -%}
            {% if item.children %}
              {% set itemAttributes = itemAttributes.setAttribute('data-dxp-menu-item-type', 'button') %}
              {% set itemAttributes = itemAttributes.setAttribute('data-dxp-menu-item-controls', item.children.id) %}
              {% if not itemClasses.submenu %}
                {%
                  set itemClasses = itemClasses|merge({
                    'submenu': [],
                  })
                %}
              {% endif %}
              {%
                set itemClasses = itemClasses|merge({
                  'submenu': itemClasses.submenu|merge([
                    'dxp-ui-submenu',
                    'tw-bg-white',
                    'tw-py-0',
                  ]),
                })
              %}
              {% if buttonItemClasses %}
                {% set itemAttributes = itemAttributes.addClass(buttonItemClasses) %}
              {% endif %}
              <span{{ itemAttributes }}>
                {% if item.type == 'button' %}
                  {{ item.label }}
                {% endif %}
              </span>
              {% if item.type == 'link' %}
                </div>
              {% endif %}
            {% endif %}
          {% else -%}
            {% if unlinkedItemClasses %}
              {% set itemAttributes = itemAttributes.addClass(unlinkedItemClasses) %}
            {% endif %}
            <span{{ itemAttributes }}>{{ item.label }}</span>
          {%- endif %}
          {% if item.children %}
            {% set childAttributes = item.children.attributes %}
            {% if itemClasses.submenu %}
              {% set childAttributes = childAttributes.addClass(itemClasses.submenu) %}
            {% endif %}
            {{ _self.menuMacro(item.children.items, childAttributes, itemClasses, level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}
