{#
/**
 * @file
 * Fieldset component.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see fieldset.html.twig
 */
#}
{%
  set legendClasses = [
    'tw-text-base',
    'md:tw-text-lg',
    'tw-font-medium',
    'tw-text-gray-900',
  ]
%}
{%
  set descriptionClasses = [
    'tw-text-sm',
    'md:tw-text-base',
    'tw-text-gray-500',
  ]
%}
<fieldset{{ attributes }}>
  {% if description.content %}
    <div>
  {% endif %}
      <legend{{ legend.attributes.addClass(legendClasses) }}>{{ legend.title }}</legend>
      {% if description.content %}
        <div{{ description.attributes.addClass(descriptionClasses) }}>{{ description.content }}</div>
      {% endif %}
  {% if description.content %}
    </div>
  {% endif %}
  {% if errors %}<div class="tw-text-negative tw-text-sm md:tw-text-base tw-font-medium tw-mt-2 tw-italic">{{ errors }}</div>{% endif %}
  {% if prefix %}<div class="tw-text-sm md:tw-text-base tw-mt-2">{{ prefix }}</div>{% endif %}
  {{ children }}
  {% if suffix %}<div class="tw-text-sm md:tw-text-base tw-mt-4">{{ suffix }}</div>{% endif %}
</fieldset>
