{#
/**
 * @file
 * Message component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - labelAttributes: A list of HTML attributes for the label.
 * - label: Text to display in the heading.
 * - level: An integer 1..6 indicating the heading level to use for the label.
 * - content: The HTML block content.
 * - status: (info|notice|positive|negative) The status color to use.
 */
#}
{%
  set classes = [
    'tw-border',
    'tw-rounded-b',
    'tw-p-4',
    'tw-border-t-8',
    'dark:tw-bg-transparent',
  ]
%}
{% set iconClasses = ['tw-mr-4'] %}
{%
  set iconVars = {
    'prefix': 'fas',
    'size': '4xl',
  }
%}
{% if status == 'info' %}
  {%
    set classes = classes|merge([
      'tw-border-info',
      'dark:tw-border-infoDarkMode',
      'tw-bg-infoBackground',
    ])
  %}
  {%
    set iconClasses = iconClasses|merge([
      'tw-text-info',
      'dark:tw-text-infoDarkMode',
    ])
  %}
  {% set iconVars = iconVars|merge({'icon': 'fa-info-circle'}) %}
{% elseif status == 'notice' %}
  {%
    set classes = classes|merge([
      'tw-border-notice',
      'dark:tw-border-noticeDarkMode',
      'tw-bg-noticeBackground',
    ])
  %}
  {%
    set iconClasses = iconClasses|merge([
      'tw-text-notice',
      'dark:tw-text-noticeDarkMode',
    ])
  %}
  {% set iconVars = iconVars|merge({'icon': 'fa-exclamation-triangle'}) %}
{% elseif status == 'positive' %}
  {%
    set classes = classes|merge([
      'tw-border-positive',
      'dark:tw-border-positiveDarkMode',
      'tw-bg-positiveBackground',
    ])
  %}
  {%
    set iconClasses = iconClasses|merge([
      'tw-text-positive',
      'dark:tw-text-positiveDarkMode',
    ])
  %}
  {% set iconVars = iconVars|merge({'icon': 'fa-check-circle'}) %}
{% elseif status == 'negative' %}
  {%
    set classes = classes|merge([
      'tw-border-negative',
      'dark:tw-border-negativeDarkMode',
      'tw-bg-negativeBackground',
    ])
  %}
  {%
    set iconClasses = iconClasses|merge([
      'tw-text-negative',
      'dark:tw-text-negativeDarkMode',
    ])
  %}
  {% set iconVars = iconVars|merge({'icon': 'fa-minus-circle'}) %}
{% endif %}
<div{{ attributes.addClass(classes) }}>
  <div class="tw-flex">
    <div class="{{ iconClasses|join(' ') }}">
      {% include '@atoms/icon/icon.twig' with iconVars only %}
    </div>
    <div class="tw-self-center">
      {% if label -%}
        {%
          set labelVars = {
            'attributes': labelAttributes,
            'label': label,
            'level': level,
            'size': 'sm',
            'weight': 'medium',
            'colorMode': 'auto',
            'withMargin': true,
          }
        %}
        {% include '@atoms/heading/heading.twig' with labelVars only %}
      {%- endif %}
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </div>
</div>
