{#
/**
 * @file
 * Grid component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of rendered grid spaces.
 * - layout: (1:1, 1:2, 2:1, 1:1:1) Determines quantity and sizing of columns.
 * - flex: TRUE|FALSE (default) Use flex instead of grid.
 */
#}
{% if flex %}
  {%
    set class = [
      'tw-flex',
      'tw-flex-wrap',
      'tw-justify-evenly',
      'tw-gap-6',
      'lg:tw-gap-8',
    ]
  %}
  {%
    set widerClass = [
      'tw-flex-grow',
      'tw-flex-shrink',
      'tw-basis-[52.5rem]',
      'tw-max-w-[52.5rem]',
    ]
  %}
{% else %}
  {%
    set class = [
      'tw-grid',
      'tw-gap-6',
      'lg:tw-gap-8',
      'tw-grid-flow-row-dense',
      'tw-grid-cols-1',
      layout == '1:1' ? 'sm:tw-grid-cols-2' : 'lg:tw-grid-cols-3',
      'tw-max-w-[121rem]',
      'tw-mx-auto',
    ]
  %}
  {%
    set widerClass = [
      'dxp-grid-space',
      'lg:tw-col-span-2',
    ]
  %}
{% endif %}
<div class="tw-m-8">
  <div{{ attributes.addClass(class) }}>
    {% for key, item in items %}
      {% if (layout == '1:2' and key % 2 == 1) or (layout == '2:1' and key % 2 == 0) %}
        <div class="{{ widerClass|join(' ') }}">{{ item }}</div>
      {% else %}
        <div class="dxp-grid-space">{{ item }}</div>
      {% endif %}
    {% endfor %}
  </div>
</div>
