{#
/**
 * @file
 * Form container component.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - hasParent: TRUE if the container has one or more parent containers.
 * - type: Container type. Possible values include 'actions' and 'container'.
 *
 * @see container.html.twig
 */
#}
{% if type == 'actions' -%}
  {%
    set classes = [
      'tw-px-4',
      'tw-py-3',
      'tw-bg-gray-50',
      'tw-text-right',
      'sm:tw-px-6',
    ]
  %}
{% elseif hasParent -%}
  {%
    set classes = [
      'tw-mt-4',
      'tw-space-y-4',
    ]
  %}
{% else -%}
  {%
    set classes = [
      'tw-px-4',
      'tw-py-5',
      'tw-bg-white',
      'tw-space-y-6',
      'sm:tw-p-6',
    ]
  %}
{%- endif %}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
