{#
/**
 * @file
 * "List" variant of the Collection component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered as a list of links.
 */
#}
<div class="dark:tw-prose-dark tw-prose md:tw-prose-lg tw-mx-auto">
  <ul{{ attributes.addClass(['tw-inline-block']) }}>
    {% for item in items %}
      <li>
        {{ item }}
      </li>
    {% endfor %}
  </ul>
</div>
