{#
/**
 * @file
 * "Card" variant of the Collection component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered as cards.
 * - aspectRatio: (2:3|1:1|4:3|3:2|16:9|auto) Aspect ratio of the cards' media.
 * - orientation: (horizontal|vertical) Controls the card layout.
 * - size: (sm|md|lg) Controls the width of each card.
 * - withActionLinks: Whether to display action links on the cards.
 */
#}
{%
  set classes = [
    'tw-flex',
    'tw-flex-wrap',
    'tw-gap-4',
    'md:tw-gap-6',
    'tw-justify-center',
    'tw-justify-items-center',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item }}
  {% endfor %}
</div>
