{#
/**
 * @file
 * "Gallery" variant of the Collection component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered as slides.
 * - aspectRatio: (2:3|1:1|4:3|3:2|16:9|auto) Aspect ratio of the slides' media.
 * - thumbnails: An array of urls for the thumbnails of the items.
 * - fit: Whether an image of a different aspect ratio than the container should
 *   be cropped or contained and letterboxed, 'cover' or 'contain'.
 */
#}
{%
  set classes = [
    'dxp-gallery',
    'splide',
    'tw-max-w-7xl',
    'tw-mx-auto',
  ]
%}
{%
  set thumbnailWrapperClasses = [
    'thumbnails',
    'splide',
    'tw-relative',
    'tw-max-w-7xl',
    'tw-mx-auto',
    'tw-my-1.5',
    'tw-hidden',
    'sm:tw-block',
  ]
%}
{%
  set thumbnailClasses = [
    'splide__slide',
    'tw-child-w-full',
    fit == 'contain' ? 'tw-child-object-contain' : 'tw-child-object-cover',
    'tw-child-object-center',
    'tw-bg-black',
  ]
%}
{% if aspectRatio == '2:3' %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-2/3']) %}
{% elseif aspectRatio == '1:1' %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-square']) %}
{% elseif aspectRatio == '4:3' %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-4/3']) %}
{% elseif aspectRatio == '3:2' %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-3/2']) %}
{% elseif aspectRatio == '16:9' %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-video']) %}
{% else %}
  {% set thumbnailClasses = thumbnailClasses|merge(['tw-aspect-auto']) %}
{% endif %}
{{ attach_library('dxp_ui/collection') }}
<div>
  <div{{ attributes.addClass(classes) }} data-splide='{"autoplay":{{ autoAdvance == 1 ? "true" : "false" }}}'>
    <div class="splide__track">
      <ul class="splide__list tw-bg-brown">
        {% for item in items %}
          <li class="tw-bg-brown tw-h-max splide__slide">
            {{ item }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="{{ thumbnailWrapperClasses|join(' ') }}">
    <div class="splide__track">
      <ul class="splide__list {{ items|length < 3 ? "sm:tw-justify-center" : "" }} {{ items|length < 4 ? "md:tw-justify-center" : "" }} {{ items|length < 5 ? "lg:tw-justify-center" : "" }}">
        {% for thumbnail in thumbnails %}
          <li class="{{ thumbnailClasses|join(' ') }}">
            <img class="tw-h-full tw-object-cover tw-opacity-50 tw-transition-opacity" src="{{ thumbnail.url }}" />
            <span class="tw-absolute tw-top-1/2 tw-left-0 tw-h-fit tw-text-white tw-p-2 tw--translate-y-1/2 tw-text-center tw-transition">{{ thumbnail.heading }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
