{#
/**
 * @file
 * "Carousel" variant of the Collection component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered as slides.
 * - aspectRatio: (2:3|1:1|4:3|3:2|16:9|auto) Aspect ratio of the slides' media.
 * - thumbnails: An array of urls for the thumbnails of the items.
 */
#}
{%
  set classes = [
  'dxp-carousel',
  'splide',
  'tw-max-w-7xl',
  'tw-mx-auto',
]
%}
{{ attach_library('dxp_ui/collection') }}
<div>
  <div{{ attributes.addClass(classes) }} data-splide='{"autoplay":{{ autoAdvance == 1 ? "true" : "false" }}}'>
    <div class="splide__track">
      <ul class="splide__list">
        {% for item in items %}
          <li class="tw-h-max splide__slide">
            <div class="tw-mx-auto tw-w-fit">
              {{ item }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
