{#
/**
 * @file
 * Collection component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered according to the variant.
 * - variant: Determines how the items are displayed. Options are:
 *   - card: Items display as a grid of cards.
 *   - carousel: Items display as a carousel where the number of items shown at
 *     once depends on the screen width.
 *   - gallery: Items display as a slideshow.
 *   - list: Items display as a simple list.
 *   - split: Items display in a split column format (stacked on small screens)
 *     with a media asset on one side and text on the other.
 *
 * Additional variables used by variants; see _collection[Variant].twig partials
 * for details:
 * - alternating
 * - aspectRatio
 * - autoAdvance
 * - orientation
 * - overlayCaption
 * - size
 * - withActionLinks
 * - fit
 */
#}
{% if variant == 'card' -%}
  {% include '@organisms/collection/_collectionCard.twig' %}
{% elseif variant == 'carousel' -%}
  {% include '@organisms/collection/_collectionCarousel.twig' %}
{% elseif variant == 'gallery' -%}
  {% include '@organisms/collection/_collectionGallery.twig' %}
{% elseif variant == 'split' -%}
  {# @todo _collectionSplit.twig #}
{% else -%}
  {# if variant == 'list' #}
  {% include '@organisms/collection/_collectionList.twig' %}
{%- endif %}
