{#
/**
 * @file
 * Alert component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - labelAttributes: A list of HTML attributes for the label.
 * - label: Text to display in the heading.
 * - level: An integer 1..6 indicating the heading level to use for the label.
 * - content: The HTML block content.
 */
#}
{%
  set classes = [
    'tw-p-4',
    'tw-bg-negative',
    'tw-text-white',
    'tw-font-normal',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if label -%}
    {%
      set labelVars = {
        'attributes': labelAttributes,
        'label': label,
        'level': level,
        'size': 'sm',
        'weight': 'medium',
        'colorMode': 'dark',
        'withMargin': true,
      }
    %}
    {% include '@atoms/heading/heading.twig' with labelVars only %}
  {%- endif %}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
