{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% set links = [] %}
{% for item in breadcrumb %}
  {%
    set links = links|merge([{
      'attributes': create_attribute(),
      'href': item.url,
      'label': item.text,
    }])
  %}
{% endfor %}
{% set vars = { 'breadcrumb': links } %}
{% include '@molecules/breadcrumb/breadcrumb.twig' with vars only %}
