{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the menu.
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 * - prepared_items: The menu items prepared for use by menu components.
 * - variant: The type of menu to render.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the links are against the site's default background and thus
 *     should adjust their color as needed for light/dark mode.
 *   - 'light': the links are against a light background color and thus should
 *     always use their light mode color.
 *   - 'dark': the links are against a dark background color and thus should
 *     always use their dark mode color.
 * - size: (sm|base) Controls the size of the menu links.  Default is 'base'.
 *
 * @see template_preprocess_menu()
 * @see dxp_ui_preprocess_menu()
 */
#}
{%
  set vars = {
    'attributes': attributes,
    'items': prepared_items,
    'variant': variant,
    'colorMode': colorMode,
    'size': size,
  }
%}
{% include '@molecules/menu/menu.twig' with vars only %}
