{#
/**
 * @file
 * Theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing secondary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 *
 * @ingroup themeable
 */
#}
{% if primary %}
  <h2 id="primary-tabs-title" class="tw-sr-only">{{ 'Primary tabs'|t }}</h2>
  <nav class="tw-py-2 tw-px-8" aria-labelledby="primary-tabs-title">
    <ul class="tw-flex tw-gap-4 tw-max-w-7xl tw-mx-auto" data-drupal-nav-tabs-target>{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <h2 id="secondary-tabs-title" class="tw-sr-only">{{ 'Secondary tabs'|t }}</h2>
  <nav class="tw-py-2 tw-px-8" aria-labelledby="secondary-tabs-title">
    <ul class="tw-flex tw-gap-4 tw-max-w-7xl tw-mx-auto">{{ secondary }}</ul>
  </nav>
{% endif %}
