{#
/**
 * @file
 * Heading component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the <h#> element.
 * - level: An integer 1..6 indicating which <h#> to use. Default is 2.
 * - size: (2xl|xl|lg|md|sm|xs) Controls the rendered size of the heading. Note
 *   that these need not directly correspond to Tailwind's font sizing classes;
 *   i.e., '2xl' does not mean that the heading must be rendered with text-2xl.
 *   Rather, the size should be thought of as relative to the site's normal text
 *   (see components/01-atoms/text). If the size is omitted, infer the size from
 *   the level where 1 = 2xl and 6 = xs.
 * - weight: (light|medium|heavy) Indicates the visual weight of the heading
 *   relative to the site's normal text. Note that this may affect more than
 *   just the font weight; for example, 'heavy' could be rendered in a display
 *   font to make it stand out from the surrounding text.
 * - label: Text to display in the heading.
 * - color: (gray) The heading text color. Default is 'gray'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the heading is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the heading is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the heading is against a dark background color and thus should
 *     always use its dark mode color.
 * - withMargin: Boolean indicating whether to set the bottom margin.
 */
#}
{% set classes = [] %}
{% set size_map = ['2xl', 'xl', 'lg', 'md', 'sm', 'xs'] %}
{% set level = level ?? 2 %}
{% set size = size ?? size_map[level - 1] %}
{% set weight = weight ?? 'medium' %}
{% set color = color ?? 'gray' %}
{% set colorMode = colorMode ?? 'auto' %}
{% if size == '2xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-5xl',
      'md:tw-text-6xl',
      withMargin ? 'tw-mb-8' : '',
      weight == 'light' ? 'tw-font-semibold' : '',
      weight == 'medium' ? 'tw-font-extrabold' : '',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-4xl',
      'md:tw-text-5xl',
      withMargin ? 'tw-mb-4' : '',
      weight == 'light' ? 'tw-font-medium' : '',
      weight == 'medium' ? 'tw-font-bold' : '',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-3xl',
      'md:tw-text-4xl',
      withMargin ? 'tw-mb-3' : '',
      weight == 'medium' ? 'tw-font-semibold' : '',
    ])
  %}
{% elseif size == 'md' -%}
  {%
    set classes = classes|merge([
      'tw-text-2xl',
      'md:tw-text-3xl',
      withMargin ? 'tw-mb-2' : '',
      weight == 'medium' ? 'tw-font-semibold' : '',
    ])
  %}
{% elseif size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'md:tw-text-2xl',
      withMargin ? 'tw-mb-1' : '',
      weight == 'medium' ? 'tw-font-semibold' : '',
    ])
  %}
{% elseif size == 'xs' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'md:tw-text-xl',
      withMargin ? 'tw-mb-1' : '',
      weight == 'medium' ? 'tw-font-semibold' : '',
    ])
  %}
{%- endif %}
{% if weight == 'heavy' -%}
  {%
    set classes = classes|merge([
      'tw-font-black',
      'tw-font-cooper-black',
    ])
  %}
{%- endif %}
{% if color == 'gray' -%}
  {%
    set classes = classes|merge([
      colorMode == 'auto' ? 'tw-text-gray-900' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
      colorMode == 'light' ? 'tw-text-gray-900' : '',
      colorMode == 'dark' ? 'tw-text-gray-50' : '',
    ])
  %}
{% elseif color == 'brown' -%}
  {%
      set classes = classes|merge([
      colorMode == 'auto' ? 'tw-text-brown-900' : '',
      colorMode == 'auto' ? 'dark:tw-text-white' : '',
      colorMode == 'light' ? 'tw-text-brown-900' : '',
      colorMode == 'dark' ? 'tw-text-white' : '',
    ])
  %}
{% elseif color == 'gold' -%}
  {%
    set classes = classes|merge([
      colorMode == 'auto' ? 'tw-text-gray-900' : '',
      colorMode == 'auto' ? 'dark:tw-text-gold' : '',
      colorMode == 'light' ? 'tw-text-gray-900' : '',
      colorMode == 'dark' ? 'tw-text-gold' : '',
    ])
  %}
{%- endif %}
{% if label|render|length > 0 %}
<h{{ level }}{{ attributes.addClass(classes) }}>
  {%- block label -%}
    {{ label }}
  {%- endblock -%}
</h{{ level }}>
{% endif %}
