{#
/**
 * @file
 * Social Links component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - links: An array of links where each item contains:
 *   - attributes: A list of HTML attributes for the link element.
 *   - iconAttributes: A list of HTML attributes for the icon.
 *   - label: The link text.
 *   - href: The link URL.
 * - variant: (horizontal|vertical) Determines whether the links are rendered
 *   inline or stacked.
 * - size: (sm|base|lg|xl) Used for scaling the links. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the links are against the site's default background and thus
 *     should adjust their color as needed for light/dark mode.
 *   - 'light': the links are against a light background color and thus should
 *     always use their light mode color.
 *   - 'dark': the links are against a dark background color and thus should
 *     always use their dark mode color.
 */
#}
{% set variant = variant ?? 'horizontal' %}
{% set colorMode = colorMode ?? 'auto' %}
{% set size = size ?? 'base' %}
{% if size == 'sm' -%}
  {% set iconSize = '2xl' %}
{% elseif size == 'lg' -%}
  {% set iconSize = '4xl' %}
{% elseif size == 'xl' -%}
  {% set iconSize = '5xl' %}
{% else -%}
  {# size == 'base' #}
  {% set iconSize = '3xl' %}
{%- endif %}
{% if variant == 'horizontal' %}
  {%
    set classes = [
      'tw-flex',
      'tw-flex-wrap',
      'tw-gap-2',
    ]
  %}
{% else %}
  {%
    set classes = [
      'tw-inline-block',
    ]
  %}
{% endif %}
<ul{{ attributes.addClass(classes) }}>
  {% for item in links -%}
    {% if item.href %}
      {% set noprotocol = item.href|split('//')[1] ?: item.href %}
      {% set domain = noprotocol|split('/')[0] ?: noprotocol %}
      {% set domain = domain|lower %}
      {% if 'tel:' in domain %}
        {% set icon = 'Call' %}
      {% elseif 'mailto:' in domain or 'wmich.edu' in domain %}
        {% set icon = 'Email' %}
      {% elseif 'facebook' in domain %}
        {% set icon = 'Facebook' %}
      {% elseif 'instagram' in domain %}
        {% set icon = 'Instagram' %}
      {% elseif 'linkedin' in domain %}
        {% set icon = 'LinkedIn' %}
      {% elseif 'snapchat' in domain %}
        {% set icon = 'Snapchat' %}
      {% elseif 'soundcloud' in domain %}
        {% set icon = 'SoundCloud' %}
      {% elseif 'tiktok' in domain %}
        {% set icon = 'TikTok' %}
      {% elseif 'twitter' in domain %}
        {% set icon = 'Twitter' %}
      {% elseif 'weibo' in domain %}
        {% set icon = 'Weibo' %}
      {% elseif 'youtube' in domain %}
        {% set icon = 'YouTube' %}
      {% else %}
        {% set icon = '' %}
      {% endif %}

      {%
        set iconClasses = [
          'tw-align-middle',
          variant == 'vertical' ? 'tw-mr-1' : '',
        ]
      %}
      {%
        set iconVars = {
          'attributes': item.iconAttributes.addClass(iconClasses),
          'variant': icon,
          'label': variant == 'horizontal' and item.label ? item.label : null,
          'size': iconSize,
        }
      %}
      {% set linkText %}
        {% include '@atoms/icon/social.twig' with iconVars only %}
      {% endset %}
      {% if variant == 'vertical' and item.label %}
        {% set linkText = linkText|trim ~ item.label %}
      {% endif %}

      {%
        set linkClasses = [
          'tw-inline-flex',
          'tw-justify-center',
          'tw-items-center',
          'pointer-coarse:tw-min-w-touch',
          'pointer-coarse:tw-min-h-touch',
          colorMode == 'dark' ? '' : 'tw-text-brown',
          colorMode == 'dark' ? '' : 'hover:tw-text-brown-800',
        ]
      %}
      {%
        set linkVars = {
          'attributes': item.attributes.addClass(linkClasses),
          'label': linkText,
          'href': item.href,
          'variant': 'default',
          'size': size,
          'colorMode': colorMode,
        }
      %}
      {%
        set itemClasses = [
          variant == 'horizontal' ? 'tw-inline-block' : 'tw-my-2',
        ]
      %}
      <li class="{{ itemClasses|join(' ') }}">
        {% include '@atoms/link/link.twig' with linkVars only %}
      </li>
    {% endif %}
  {%- endfor %}
</ul>
