{#
/**
 * @file
 * Section component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the <section> element.
 * - labelAttributes: A list of HTML attributes for the heading.
 * - label: Text to display in the heading.
 * - useHeadingElement: True (default) if label should be rendered as heading.
 * - level: An integer 1..6 indicating the heading level to use.
 * - children: Nested components.
 * - colorMode: (auto|light|dark)
 */
#}
{% set useHeadingElement = useHeadingElement ? 1 : 0 %}
{%
  set labelVars = {
    'attributes': labelAttributes,
    'label': label,
    'level': level,
    'withMargin': true,
    'colorMode': colorMode,
  }
%}
<section{{ attributes }}>
  {% if label|render|length > 0 %}
  <div class="tw-max-w-prose tw-mx-auto">
    {% if useHeadingElement is empty or useHeadingElement == 0 %}
      {% include '@atoms/text/text.twig' with {'content': label} only %}
    {% else %}
      {% include '@atoms/heading/heading.twig' with labelVars only %}
    {% endif %}
  </div>
  {% endif %}
  {% block content %}
    {{ children }}
  {% endblock %}
</section>
