{#
/**
 * @file
 * Footer component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the <footer> element.
 * - menuAttributes: A list of HTML attributes for the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - label: The menu item title.
 *   - href: The menu item url.
 *   - inActiveTrail: TRUE if the item is in the active breadcrumb trail.
 *   - type: The type of menu item, as follows:
 *     - 'link': A link.
 *     - 'nolink': An unlinked item.
 *     - 'button': A button that can be clicked to expand subitems.
 *   - children: (optional) Contains a child menu as follows:
 *     - id: A unique HTML ID for the child menu element. This value should also
 *       be set in attributes (below), but is provided separately to work around
 *       issues accessing Attributes properties with Twig.js in Storybook.
 *     - attributes: A list of HTML attributes for the child menu.
 *     - items: An array of child menu items.
 * - socialAttributes: A list of HTML attributes for the social.
 * - links: An array of links where each item contains:
 *   - attributes: A list of HTML attributes for the link element.
 *   - iconAttributes: A list of HTML attributes for the icon.
 *   - label: The link text.
 *   - href: The link URL.
 * - linkAttributes: A list of HTML attributes for the link.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the links are against the site's default background and thus
 *     should adjust their color as needed for light/dark mode.
 *   - 'light': the links are against a light background color and thus should
 *     always use their light mode color.
 *   - 'dark': the links are against a dark background color and thus should
 *     always use their dark mode color.
 */
#}
{% set colorMode = colorMode ?? 'dark' %}
{%
  set menuVars = {
    'attributes': menuAttributes,
    'items': items,
    'variant': 'footer',
    'colorMode': colorMode,
  }
%}
{%
  set socialVars = {
    'attributes': socialAttributes,
    'links': links,
    'variant': 'horizontal',
    'colorMode': colorMode,
  }
%}
{% set textContent %}
  <p><strong>Western Michigan University</strong><br><span>Kalamazoo MI 49008-5200 USA</span><br><span>(269) 387-1000</span><br><a href="https://wmich.edu/contact">Contact WMU</a></p>
{% endset %}
{%
  set textVars = {
    'attributes': textAttributes,
    'content': textContent,
    'withMargin': true,
    'colorMode': colorMode,
  }
%}
{% set linkLabel %}
  <img src="/themes/dxp/dxp_ui/images/reporting{{ colorMode == 'dark' ? '-dark-mode' : '' }}.png" width="150" height="150" alt="Budget &amp; Salary/Compensation Transparency Reporting" loading="lazy">
{% endset %}
{%
  set linkVars = {
    'attributes': linkAttributes,
    'label': linkLabel,
    'href': 'https://wmich.edu/transparency',
    'colorMode': colorMode,
  }
%}
{%
  set classes = [
    'tw-flex',
    'tw-flex-wrap',
    'tw-gap-4',
    'md:tw-gap-6',
    'tw-p-4',
    'sm:tw-p-6',
  ]
%}
<footer{{ attributes.addClass(classes) }}>
  <div class="tw-flex-auto">
    {% include '@molecules/menu/menu.twig' with menuVars only %}
  </div>
  <div class="tw-flex-auto tw-flex tw-flex-wrap tw-gap-4 md:tw-gap-6">
    <div class="tw-flex-initial">
      {% include '@atoms/text/text.twig' with textVars only %}
      {% include '@organisms/social/social.twig' with socialVars only %}
    </div>
    <div class="tw-flex-initial">
      {% include '@atoms/link/link.twig' with linkVars only %}
    </div>
  </div>
</footer>
