{#
/**
 * @file
 * Radio button component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the radio element.
 * - isSelected: Boolean indicating whether the radio button is selected.
 * - isDisabled: (optional) Boolean indicating whether the radio button is
 *   disabled.
 * - hasErrors: TRUE if form-element.twig will display an error for this radio
 *   button.
 * - size: (sm|base|lg|xl) Used for scaling the radio button. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the radio is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the radio is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the radio is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see input--radio.html.twig
 */
#}
{% set attributes = attributes.setAttribute('type', 'radio') %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{% if isSelected -%}
  {% set attributes = attributes.setAttribute('checked', 'checked') %}
{%- endif %}
{%
  set classes = [
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    hasErrors ? 'tw-border-2' : 'tw-border',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-cursor-not-allowed',
      'tw-opacity-100',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
      colorMode == 'dark' ? 'tw-bg-gray-700' : 'tw-bg-gray-100',
      colorMode == 'dark' ? 'tw-text-gray-600' : 'tw-text-gray-300',
      colorMode == 'dark' ? 'checked:tw-bg-checkedRadioDark': '',
      colorMode == 'dark' ? 'checked:tw-bg-gray-600' : 'checked:tw-bg-gray-300',
      colorMode == 'dark' ? 'checked:tw-text-gray-600' : 'checked:tw-text-gray-300',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-700' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-600' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-checkedRadioDark' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-gray-600' : '',
      colorMode == 'auto' ? 'dark:checked:tw-text-gray-600' : '',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
      colorMode == 'dark' ? 'focus:tw-border-negativeDarkMode' : 'focus:tw-border-negative',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-negativeDarkMode' : 'tw-text-negative',
      colorMode == 'dark' ? 'checked:tw-bg-checkedRadioDark': '',
      colorMode == 'dark' ? 'checked:tw-bg-negativeDarkMode' : 'checked:tw-bg-negative',
      colorMode == 'dark' ? 'checked:tw-text-negativeDarkMode' : 'checked:tw-text-negative',
      colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-checkedRadioDark' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:checked:tw-text-negativeDarkMode' : '',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
      colorMode == 'dark' ? 'focus:tw-border-white' : 'focus:tw-border-brown-900',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-gray-200' : 'tw-text-gray-700',
      colorMode == 'dark' ? 'checked:tw-bg-checkedRadioDark': '',
      colorMode == 'dark' ? 'checked:tw-bg-gray-200' : 'checked:tw-bg-gray-700',
      colorMode == 'dark' ? 'checked:tw-text-gray-200' : 'checked:tw-text-gray-700',
      colorMode == 'auto' ? 'dark:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-200' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-checkedRadioDark' : '',
      colorMode == 'auto' ? 'dark:checked:tw-bg-gray-200' : '',
      colorMode == 'auto' ? 'dark:checked:tw-text-gray-200' : '',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-w-3.5',
      'tw-h-3.5',
      'md:tw-w-4',
      'md:tw-h-4',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-w-4.5',
      'tw-h-4.5',
      'md:tw-w-5',
      'md:tw-h-5',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-w-5',
      'tw-h-5',
      'md:tw-w-6',
      'md:tw-h-6',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-w-4',
      'tw-h-4',
      'md:tw-w-4.5',
      'md:tw-h-4.5',
    ])
  %}
{%- endif %}
<input{{ attributes.addClass(classes) }} />
