{#
/**
 * @file
 * Icon component.
 *
 * Available variables:
 * - attributes: (optional) HTML attributes for the icon.
 * - prefix: A Font Awesome style prefix; 'fas' for Solid, 'fab' for Brands.
 * - icon: A Font Awesome icon name, prefixed with 'fa-'; e.g., 'fa-book'.
 * - size: The icon size. If omitted, inherits the font size in context.
 */
#}
{%
  set classes = [
    prefix,
    icon,
  ]
%}
{% if size == 'sm' -%}
  {% set classes = classes|merge(['tw-text-sm']) %}
{% elseif size == 'base' -%}
  {% set classes = classes|merge(['tw-text-base']) %}
{% elseif size == 'lg' -%}
  {% set classes = classes|merge(['tw-text-lg']) %}
{% elseif size == 'xl' -%}
  {% set classes = classes|merge(['tw-text-xl']) %}
{% elseif size == '2xl' -%}
  {% set classes = classes|merge(['tw-text-2xl']) %}
{% elseif size == '3xl' -%}
  {% set classes = classes|merge(['tw-text-3xl']) %}
{% elseif size == '4xl' -%}
  {% set classes = classes|merge(['tw-text-4xl']) %}
{% elseif size == '5xl' -%}
  {% set classes = classes|merge(['tw-text-5xl']) %}
{% elseif size == '8xl' -%}
  {% set classes = classes|merge(['tw-text-8xl']) %}
{%- endif %}
{% if attributes %}
  <i{{ attributes.addClass(classes)}}></i>
{% else %}
  <i class="{{ classes|join(' ') }}"></i>
{% endif %}
