{#
/**
 * @file
 * Social Icon component.
 *
 * Available variables:
 * - attributes: HTML attributes for the icon.
 * - variant: Indicates the type of social icon (e.g., "Facebook").
 * - label: (optional) Sets the ARIA text alternative for the icon. If omitted,
 *   defaults to the variant.
 * - size: The icon size. If omitted, inherits the font size in context.
 */
#}
{% set attributes = attributes.setAttribute('data-fa-mask', 'fas fa-circle') %}
{% set attributes = attributes.setAttribute('data-fa-transform', 'shrink-6') %}
{% set attributes = attributes.setAttribute('title', label ?? variant) %}
{% if variant == 'Call' -%}
  {% set prefix = 'fas' %}
  {% set icon = 'fa-phone' %}
{% elseif variant == 'Email' -%}
  {% set prefix = 'fas' %}
  {% set icon = 'fa-envelope' %}
{% elseif variant == 'Facebook' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-facebook-f' %}
{% elseif variant == 'Instagram' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-instagram' %}
{% elseif variant == 'LinkedIn' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-linkedin-in' %}
{% elseif variant == 'Snapchat' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-snapchat-ghost' %}
{% elseif variant == 'SoundCloud' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-soundcloud' %}
{% elseif variant == 'TikTok' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-tiktok' %}
{% elseif variant == 'Twitter' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-twitter' %}
{% elseif variant == 'Weibo' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-weibo' %}
{% elseif variant == 'YouTube' -%}
  {% set prefix = 'fab' %}
  {% set icon = 'fa-youtube' %}
{% else -%}
  {% set prefix = '' %}
  {% set icon = '' %}
{%- endif %}
{% include '@atoms/icon/icon.twig' %}
