{#
/**
 * @file
 * Slide component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - media: The media component.
 * - mediaAspect: (2:3|1:1|4:3|3:2|16:9|auto) Media aspect ratio.
 * - label: Text to display in the card heading.
 * - labelAttributes: A list of HTML attributes for the card heading.
 * - level: An integer 1..6 indicating the heading level to use for the label.
 * - detail: Additional detail text shown with the label.
 * - content: The card text.
 * - contentAttributes: A list of HTML attributes for the card text.
 * - attribution: Attribution of the content.
 * - links: An array of links. Each link consists of the following properties:
 *   - attributes: A list of HTML attributes for the link.
 *   - href: The link URL.
 *   - label: The link text.
 * - size: (sm|md|lg|full) Controls the width of the card. Default is 'md'.
 * - variant: (horizontal|vertical) Controls card layout. Default is 'vertical'.
 * - withActionLinks: Boolean indicating whether to display action links. If
 *   FALSE, the first link href is used to make the whole card clickable, and
 *   the link label and any additional links are ignored.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the link is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the link is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the link is against a dark background color and thus should
 *     always use its dark mode color.
 * - halign: (left|center|right) Text alignment of card content.  Left default.
 * - valign: (top|middle|bottom) The vertical position of the text
 *   box. Default is middle.
 * - width: (full, 1/2, 1/3) Width of the text box.  Default is full.
 * - fit: Whether an image of a different aspect ratio than the container should
 *   be cropped or contained and letterboxed, 'cover' or 'contain'.
 */
#}
{{ attach_library('dxp_ui/hero') }}
{% set mediaAspect = mediaAspect ?? 'auto' %}
{% set halign = halign ?? 'left' %}
{% set valign = valign ?? 'middle' %}
{% set width = width ?? 'fit' %}
{% set fit = fit ?? 'contain' %}
{%
  set class = [
    'tw-relative',
    'tw-w-full',
    'tw-max-w-7xl',
  ]
%}
{%
  set mediaClasses = [
    'tw-max-w-7xl',
    'tw-child-w-full',
    'tw-child-h-full',
    fit == 'cover' ? 'tw-child-object-cover' : 'tw-child-object-contain',
    'tw-child-object-center',
    'tw-text-center',
    'tw-bg-black',
  ]
%}
{% if mediaAspect == '2:3' -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-2/3',
    ])
  %}
{% elseif mediaAspect == '1:1' -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-1',
    ])
  %}
{% elseif mediaAspect == '4:3' -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-4/3',
    ])
  %}
{% elseif mediaAspect == '3:2' -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-3/2',
    ])
  %}
{% elseif mediaAspect == '16:9' -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-16/9',
    ])
  %}
{% else -%}
  {# Default mediaAspect == 'auto' #}
  {%
    set mediaClasses = mediaClasses|merge([
      'tw-aspect-auto',
    ])
  %}
{%- endif %}
{%
  set captionClasses = [
    'tw-bg-brown',
    'tw-p-8',
    'tw-w-full',
  ]
%}
{% if overlayCaption %}
  {%
    set captionClasses = captionClasses|merge([
      'lg:tw-absolute',
      halign == 'left' ? 'lg:tw-left-8' : '',
      halign == 'center' ? 'lg:tw-left-1/2' : '',
      halign == 'center' ? 'lg:tw--translate-x-1/2' : '',
      halign == 'right' ? 'lg:tw-right-8' : '',
      valign == 'top' ? 'lg:tw-top-8' : '',
      valign == 'middle' ? 'lg:tw-top-1/2' : '',
      valign == 'middle' ? 'lg:tw--translate-y-1/2' : '',
      width == '3/4' ? 'lg:tw-max-w-[75%]' : '',
      width == '2/3' ? 'lg:tw-max-w-[66.66%]' : '',
      width == '1/2' ? 'lg:tw-max-w-[50%]' : '',
      width == '1/3' ? 'lg:tw-max-w-[33.33%]' : '',
      width == '1/4' ? 'lg:tw-max-w-[25%]' : '',
    ])
  %}
  {% if halign == 'center' and valign == 'bottom' and width == 'full' %}
    {%
      set captionClasses = captionClasses|merge([
        'lg:tw-bg-transparent',
        'lg:tw-pt-40',
        'lg:tw-bg-gradient-to-b',
        'lg:tw-from-transparent',
        'lg:tw-to-black',
        'lg:tw-bottom-0',
      ])
    %}
  {% else %}
    {%
      set captionClasses = captionClasses|merge([
        width == 'full' ? 'lg:tw-w-fit' : '',
        'lg:tw-bg-brown/75',
        valign == 'bottom' ? 'lg:tw-bottom-8' : '',
      ])
    %}
  {% endif %}
{% endif %}

<figure{{ attributes.addClass(class) }}>
  <div class="{{ mediaClasses|join(' ') }}">
    {{ media }}
  </div>
  <figcaption{{ captionAttributes.addClass(captionClasses) }}>
    {%
      set vars = {
        'attributes': calloutAttributes,
        'heading': heading,
        'headingAttributes': headingAttributes,
        'headingLevel': headingLevel,
        'text': text,
        'textAttributes': textAttributes,
        'attribution': attribution,
        'links': links,
        'linkDisplay': linkDisplay,
        'align': halign,
        'size': 'base',
        'colorMode': 'dark',
        'withMargin': false,
      }
    %}
    {% include '@molecules/callout/callout.twig' with vars only %}
  </figcaption>
</figure>
