{#
/**
 * @file
 * Panel component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - halign: (left|center|right) The horizontal alignment of the panel content.
 *   Default is left.
 * - bgcolor: (cool_gray|gray|warm_gray) Determines color to use for background.
 * - bgimage: URL of image to apply as background image.
 * - bgpattern: Which pattern to apply as background image.
 * - content: Components inside the panel.
 * - vmargin: (normal|large) Determines the amount of vertical margin.
 * - variant: (background|border) Determines whether the selected color is used
 *   for background color or border color.
 */
#}
{% set halign = halign ?? 'left' %}
{%
  set class = [
    'tw-py-px',
    'tw-relative',
  ]
%}
{%
  set bgclass = [
    'tw-absolute',
    'tw-w-full',
    'tw-h-full',
    'tw-bg-no-repeat',
    'tw--z-10',
    bgpattern is empty ? 'tw-opacity-30' : '',
    bgpattern is empty ? 'tw-bg-cover' : '',
  ]
%}
{%
  set borderclass = [
    variant == 'border' ? 'tw-px-6' : 'tw-px-8',
    'tw-mx-auto',
  ]
%}
{% if variant == 'border' %}
  {%
    set borderclass = borderclass|merge([
      'tw-max-w-fit',
      'tw-border-8',
      'tw-pt-8',
    ])
  %}
  {% if bgcolor == 'blue' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-blue-500',
      ])
    %}
  {% elseif bgcolor == 'brown' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-brown-900',
      ])
    %}
  {% elseif bgcolor == 'cinnabar' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-cinnabar-500',
      ])
    %}
  {% elseif bgcolor == 'cool_gray' %}
    {%
      set borderclass = borderclass|merge([
      'tw-border-coolGray-300',
    ])
    %}
  {% elseif bgcolor == 'gold' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-gold-400',
      ])
    %}
  {% elseif bgcolor == 'gray' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-gray-300',
      ])
    %}
  {% elseif bgcolor == 'green' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-green-600',
      ])
    %}
  {% elseif bgcolor == 'lilac' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-lilac-400',
      ])
    %}
  {% elseif bgcolor == 'red' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-red-700',
      ])
    %}
  {% elseif bgcolor == 'teal' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-teal-600',
      ])
    %}
  {% elseif bgcolor == 'warm_gray' %}
    {%
      set borderclass = borderclass|merge([
        'tw-border-gray-700',
      ])
    %}
  {% endif %}
{% else %}
  {% if bgcolor == 'gold' %}
    {%
      set class = class|merge([
        'before:tw-bg-gold-400',
      ])
    %}
  {% elseif bgcolor == 'gray' %}
    {%
      set class = class|merge([
        'before:tw-bg-gray-200',
      ])
    %}
  {% elseif bgcolor == 'cool_gray' %}
    {%
      set class = class|merge([
        'before:tw-bg-coolGray-200',
      ])
    %}
  {% elseif bgcolor == 'warm_gray' %}
    {%
      set class = class|merge([
        'before:tw-bg-gray-600',
      ])
    %}
  {% endif %}
{% endif %}
{% if bgcolor is not empty %}
  {%
    set class = class|merge([
      'before:tw-absolute',
      'before:tw-w-full',
      'before:tw-h-full',
      'before:tw--z-10',
    ])
  %}
{% endif %}
{% if bgpattern == 'circles' %}
  {%
    set bgclass = bgclass|merge([
      'tw-bg-circles',
      'tw-bg-auto',
      'tw-opacity-80',
    ])
  %}
{% endif %}
{% if bgpattern == 'diamonds' %}
  {%
    set bgclass = bgclass|merge([
      'tw-bg-diamonds',
      'tw-bg-auto',
      bgcolor == 'warm_gray' ? 'tw-opacity-20' : 'tw-opacity-80',
    ])
  %}
{% endif %}
{% if vmargin == 'normal' %}
  {%
    set class = class|merge([
      'tw-my-8',
    ])
  %}
{% endif %}
{% if vmargin == 'large' %}
  {%
    set class = class|merge([
      'tw-my-16',
    ])
  %}
{% endif %}
{% if vmargin is empty or vmargin == 'none' %}
  {%
    set class = class|merge([
      'tw--my-px',
    ])
  %}
{% endif %}
{% if bgimage is not empty %}
  {%
    set class = class|merge([
      'tw-bg-no-repeat',
      'tw-bg-contain',
      "tw-bg-[url('" ~ bgimage ~ "')]",
    ])
  %}
{% endif %}
<div{{ attributes.addClass(class) }}>
{% if bgimage is not empty or bgpattern is not empty %}
  <div class="{{ bgclass|join(' ') }}" {{ bgimage is not empty ? "style=background-image:url('" ~ bgimage ~ "');" : "" }}></div>
{% endif %}
  <div class="tw-my-8 tw-px-8 {{ borderclass|join(' ') }}">
    {{ content }}
  </div>
</div>
