{#
/**
 * @file
 * File upload component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the file upload element.
 * - isDisabled: (optional) Boolean indicating whether the file upload is
 *   disabled.
 * - hasErrors: TRUE if form-element.twig will display an error for this
 *   file upload.
 * - size: (sm|base|lg|xl) Used for scaling the input. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the input is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the input is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the input is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see input--file.html.twig
 */
#}
{% set attributes = attributes.setAttribute('type', 'file') %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-w-full',
    'tw-rounded',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    isDisabled ? 'tw-cursor-not-allowed' : 'tw-cursor-pointer',
    hasErrors ? 'tw-border-2' : 'tw-border',
    'file:tw-inline-flex',
    'file:tw-items-center',
    'file-tw-justify-center',
    'file:tw-border',
    'file:tw-bg-transparent',
    'file:tw-rounded',
    'file:tw-font-medium',
    'file:tw-font-sans',
    'pointer-coarse:file:tw-min-w-touch',
    'pointer-coarse:file:tw-min-h-touch',
    isDisabled ? 'file:tw-cursor-not-allowed' : 'file:tw-cursor-pointer',
    hasErrors ? 'file:tw-m-[-2px]' : 'file:tw--m-px',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-opacity-100',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
      colorMode == 'dark' ? 'tw-bg-gray-700' : 'tw-bg-gray-100',
      colorMode == 'dark' ? 'tw-text-gray-300' : 'tw-text-gray-600',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-700' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-300' : '',
      colorMode == 'dark' ? 'file:tw-text-gray-300' : 'file:tw-text-gray-600',
      colorMode == 'auto' ? 'dark:file:tw-text-gray-300' : '',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
      colorMode == 'dark' ? 'focus:tw-border-negativeDarkMode' : 'focus:tw-border-negative',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-negativeDarkMode' : 'tw-text-negative',
      colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-negativeDarkMode' : '',
      colorMode == 'dark' ? 'file:tw-text-negativeDarkMode' : 'file:tw-text-negative',
      colorMode == 'auto' ? 'dark:file:tw-text-negativeDarkMode' : '',
      colorMode == 'dark' ? 'hover:file:tw-bg-gold-300' : 'hover:file:tw-bg-brown-900',
      colorMode == 'dark' ? 'hover:file:tw-text-gray-800' : 'hover:file:tw-text-white',
      colorMode == 'auto' ? 'dark:hover:file:tw-bg-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:file:tw-text-gray-800' : '',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
      colorMode == 'dark' ? 'focus:tw-border-white' : 'focus:tw-border-brown-900',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-gray-200' : 'tw-text-gray-700',
      colorMode == 'auto' ? 'dark:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-200' : '',
      colorMode == 'dark' ? 'file:tw-border-white' : 'file:tw-border-brown-900',
      colorMode == 'dark' ? 'file:tw-text-white' : 'file:tw-text-brown-900',
      colorMode == 'auto' ? 'dark:file:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:file:tw-text-white' : '',
      colorMode == 'dark' ? 'hover:file:tw-border-gold-300' : 'hover:file:tw-border-brown-900',
      colorMode == 'dark' ? 'hover:file:tw-bg-gold-300' : 'hover:file:tw-bg-brown-900',
      colorMode == 'dark' ? 'hover:file:tw-text-gray-800' : 'hover:file:tw-text-white',
      colorMode == 'auto' ? 'dark:hover:file:tw-border-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:file:tw-bg-gold-300' : '',
      colorMode == 'auto' ? 'dark:hover:file:tw-text-gray-800' : '',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-sm',
      'file:tw-text-sm',
      'file:tw-mr-4',
      'file:tw-px-4',
      'file:tw-py-2',
      'md:tw-text-base',
      'md:file:tw-text-base',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'file:tw-text-lg',
      'file:tw-mr-4',
      'file:tw-px-4',
      'file:tw-py-2',
      'md:tw-text-xl',
      'md:file:tw-text-xl',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'file:tw-text-xl',
      'file:tw-mr-4',
      'file:tw-px-4',
      'file:tw-py-2',
      'md:tw-text-2xl',
      'md:file:tw-text-2xl',
      'md:file:tw-mr-5',
      'md:file:tw-px-5',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-text-base',
      'file:tw-text-base',
      'file:tw-mr-4',
      'file:tw-px-4',
      'file:tw-py-2',
      'md:tw-text-lg',
      'md:file:tw-text-lg',
    ])
  %}
{%- endif %}
<input{{ attributes.addClass(classes) }} />
