{#
/**
 * @file
 * Range component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - isDisabled: (optional) Boolean indicating whether the range is disabled.
 * - hasErrors: TRUE if form-element.twig will display an error for this range.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the range is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the range is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the range is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see input--range.html.twig
 */
#}
{% set attributes = attributes.setAttribute('type', 'range') %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-w-full',
    'tw-rounded',
    'focus:tw-outline-none',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-cursor-not-allowed',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      'tw-ring-2',
      'tw-ring-offset-2',
      colorMode == 'dark' ? 'tw-ring-negativeDarkMode' : 'tw-ring-negative',
      colorMode == 'dark' ? 'tw-ring-offset-gray-800' : 'tw-ring-offset-white',
      colorMode == 'auto' ? 'dark:tw-ring-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-ring-offset-gray-800' : '',
    ])
  %}
{%- endif %}
<input{{ attributes.addClass(classes) }} />
