{#
/**
 * @file
 * Color picker component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - isDisabled: (optional) Boolean indicating whether the color picker is
 *   disabled.
 * - hasErrors: TRUE if form-element.twig will display an error for this
 *   color picker.
 * - size: (sm|base|lg|xl) Used for scaling the input. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the input is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the input is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the input is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see input--color.html.twig
 */
#}
{% set attributes = attributes.setAttribute('type', 'color') %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-rounded',
    'tw-p-1',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    hasErrors ? 'tw-border-2' : 'tw-border',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-cursor-not-allowed',
      'tw-opacity-100',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
      colorMode == 'dark' ? 'tw-bg-gray-700' : 'tw-bg-gray-100',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-700' : '',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
      colorMode == 'dark' ? 'focus:tw-border-negativeDarkMode' : 'focus:tw-border-negative',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
      colorMode == 'dark' ? 'focus:tw-border-white' : 'focus:tw-border-brown-900',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'auto' ? 'dark:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-w-[2.375rem]',
      'tw-h-[2.375rem]',
      'md:tw-w-[2.625rem]',
      'md:tw-h-[2.625rem]',
    ])
  %}
{% elseif size == 'lg' -%}
  {# Though it breaks the pattern, this keeps it consistent with <select> #}
  {%
    set classes = classes|merge([
      'tw-w-[2.875rem]',
      'tw-h-[2.875rem]',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-w-[2.875rem]',
      'tw-h-[2.875rem]',
      'md:tw-w-[3.125rem]',
      'md:tw-h-[3.125rem]',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-w-[2.625rem]',
      'tw-h-[2.625rem]',
      'md:tw-w-[2.875rem]',
      'md:tw-h-[2.875rem]',
    ])
  %}
{%- endif %}
<input{{ attributes.addClass(classes) }} />
