{#
/**
 * @file
 * Layered icon component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - size: The layered icon size. If omitted, inherits the font size in context.
 *   Note that this controls the overall size. Sizes of individual icons that
 *   make up the layers can be controlled by setting data-fa-transform in the
 *   icons' attributes; see https://fontawesome.com/v5.15/how-to-use/on-the-web/styling/layering.
 * - icons: An array of icons to be layered. Each icon consists of:
 *   - attributes: (optional) HTML attributes for the icon.
 *   - prefix: A Font Awesome style prefix; 'fas' for Solid, 'fab' for Brands.
 *   - icon: A Font Awesome icon name, prefixed with 'fa-'; e.g., 'fa-book'.
 * - counter: (optional) Text to display as a counter over the icon.
 */
#}
{%
  set classes = [
    'fa-layers',
    'fa-fw',
  ]
%}
{% if size == 'sm' -%}
  {% set classes = classes|merge(['tw-text-sm']) %}
{% elseif size == 'base' -%}
  {% set classes = classes|merge(['tw-text-base']) %}
{% elseif size == 'lg' -%}
  {% set classes = classes|merge(['tw-text-lg']) %}
{% elseif size == 'xl' -%}
  {% set classes = classes|merge(['tw-text-xl']) %}
{% elseif size == '2xl' -%}
  {% set classes = classes|merge(['tw-text-2xl']) %}
{% elseif size == '3xl' -%}
  {% set classes = classes|merge(['tw-text-3xl']) %}
{% elseif size == '4xl' -%}
  {% set classes = classes|merge(['tw-text-4xl']) %}
{% elseif size == '5xl' -%}
  {% set classes = classes|merge(['tw-text-5xl']) %}
{%- endif %}
<span{{ attributes.addClass(classes) }}>
  {% for icon in icons -%}
    {% include '@atoms/icon/icon.twig' with icon only %}
  {%- endfor %}
  {% if counter -%}
    <span class="fa-layers-counter tw-bg-cinnabar-600 tw-text-white tw-font-medium">{{ counter }}</span>
  {%- endif %}
</span>
