{#
/**
 * @file
 * Select component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the select element.
 * - options: Array of option objects. An option object contains:
 *   - type: (optgroup|option)
 *   - label: the text displayed to the user.
 *   - value: the value of the option.
 *   - selected: boolean indicating whether the option is selected.
 *   - options: if type is 'optgroup', an array of option objects; otherwise
 *   empty.
 * - isDisabled: (optional) Boolean indicating whether the select is disabled.
 * - hasErrors: TRUE if form-element.twig will display an error for this select.
 * - size: (sm|base|lg|xl) Used for scaling the text. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the select is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the select is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the select is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see select.html.twig
 */
#}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-block',
    'tw-w-full',
    'tw-rounded',
    'focus:tw-ring-2',
    'focus:tw-ring-offset-2',
    colorMode == 'dark' ? 'focus:tw-ring-blue-400' : 'focus:tw-ring-blue-500',
    colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
    colorMode == 'auto' ? 'dark:focus:tw-ring-blue-400' : '',
    colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    hasErrors ? 'tw-border-2' : 'tw-border',
  ]
%}
{% if isDisabled -%}
  {% set attributes = attributes.setAttribute('disabled', 'disabled') %}
  {%
    set classes = classes|merge([
      'tw-cursor-not-allowed',
      'tw-opacity-100',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-200',
      colorMode == 'dark' ? 'tw-bg-gray-700' : 'tw-bg-gray-100',
      colorMode == 'dark' ? 'tw-text-gray-300' : 'tw-text-gray-600',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-700' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-300' : '',
    ])
  %}
{% elseif hasErrors -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-negativeDarkMode' : 'tw-border-negative',
      colorMode == 'dark' ? 'focus:tw-border-negativeDarkMode' : 'focus:tw-border-negative',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-negativeDarkMode' : 'tw-text-negative',
      colorMode == 'auto' ? 'dark:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-negativeDarkMode' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-negativeDarkMode' : '',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      colorMode == 'dark' ? 'tw-border-white' : 'tw-border-brown-900',
      colorMode == 'dark' ? 'focus:tw-border-white' : 'focus:tw-border-brown-900',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-text-gray-200' : 'tw-text-gray-700',
      colorMode == 'auto' ? 'dark:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-white' : '',
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-text-gray-200' : '',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-text-sm',
      'md:tw-text-base',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-text-lg',
      'md:tw-text-xl',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-text-xl',
      'md:tw-text-2xl',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'tw-text-base',
      'md:tw-text-lg',
    ])
  %}
{%- endif %}
{% apply spaceless %}
  <select{{ attributes.addClass(classes) }}>
    {% for option in options %}
      {% if option.type == 'optgroup' %}
        <optgroup label="{{ option.label }}">
          {% for sub_option in option.options %}
            <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
          {% endfor %}
        </optgroup>
      {% elseif option.type == 'option' %}
        <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
      {% endif %}
    {% endfor %}
  </select>
{% endapply %}
