{#
/**
 * @file
 * Aside component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the <aside> element.
 * - labelAttributes: A list of HTML attributes for the heading.
 * - label: Text to display in the heading.
 * - level: An integer 1..6 indicating the heading level to use.
 * - children: Nested components.
 * - float: (none|left|right) Whether the component is floating left or right.
 * - anchor: Text to use for in-page linking.
 * - size: (full|prose|7xl|6xl|5xl|4xl|3xl|2xl|xl|lg|md|sm|xs) Controls the
 *   maximum width of the element. Default is "full".
 */
#}
{% if anchor %}
  {% set attributes = attributes.setAttribute('id', anchor) %}
{% endif %}
{%
  set classes = [
    'tw-bg-gray-100',
    'dark:tw-bg-gray-900',
    'tw-rounded',
    'tw-border',
    'tw-border-gray-300',
    'dark:tw-border-gray-600',
    'tw-p-6',
    'tw-mt-2',
    'tw-mb-8',
    'tw-w-full',
  ]
%}
{% if float == 'left' or float == 'right' %}
  {%
    set classes = classes|merge([
      size == 'fit' ? 'md:tw-max-w-fit' : '',
      size == 'prose' ? 'md:tw-max-w-prose' : '',
      size == '7xl' ? 'md:tw-max-w-7xl' : '',
      size == '6xl' ? 'md:tw-max-w-6xl' : '',
      size == '5xl' ? 'md:tw-max-w-5xl' : '',
      size == '4xl' ? 'md:tw-max-w-4xl' : '',
      size == '3xl' ? 'md:tw-max-w-3xl' : '',
      size == '2xl' ? 'md:tw-max-w-2xl' : '',
      size == 'xl' ? 'md:tw-max-w-xl' : '',
      size == 'lg' ? 'md:tw-max-w-lg' : '',
      size == 'md' ? 'md:tw-max-w-md' : '',
      size == 'sm' ? 'md:tw-max-w-sm' : '',
      size == 'xs' ? 'md:tw-max-w-xs' : '',
    ])
  %}
  {% if float == 'left' -%}
    {%
      set classes = classes|merge([
        'md:tw-float-left',
        'md:tw-clear-left',
        'md:tw-mr-8',
      ])
    %}
  {% elseif float == 'right' -%}
    {%
      set classes = classes|merge([
        'md:tw-float-right',
        'md:tw-clear-right',
        'md:tw-ml-8',
      ])
    %}
  {% endif %}
{% endif %}
<aside{{ attributes.addClass(classes) }}>
  {% if label is not empty %}
    {%
      set labelVars = {
        'attributes': labelAttributes,
        'label': label,
        'level': level,
        'withMargin': true,
      }
    %}
    {% include '@atoms/heading/heading.twig' with labelVars only %}
  {% endif %}
  {% block content %}
    {{ children }}
  {% endblock %}
</aside>
