{#
/**
 * @file
 * Form element component.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - errors: (optional) Any errors for this form element, may not be set.
 * - prefix: (optional) The form element prefix, may not be set.
 * - suffix: (optional) The form element suffix, may not be set.
 * - label: A rendered label element.
 * - labelDisplay: Label display setting. It can have these values:
 *   - before: The label is output before the element. This is the default.
 *   - after: The label is output after the element. For example, this is used
 *     for radio and checkbox elements. If the label is empty but the field is
 *     required, the label will contain only the required marker.
 *   - invisible: Labels are critical for screen readers to enable them to
 *     properly navigate through forms but can be visually distracting. This
 *     property hides the label for everyone except screen readers.
 * - description: (optional) A list of description properties containing:
 *    - content: A description of the form element, may not be set.
 *    - attributes: (optional) A list of HTML attributes to apply to the
 *      description content wrapper. Will only be set when description is set.
 * - descriptionDisplay: Description display setting. It can have these values:
 *   - before: The description is output before the element.
 *   - after: The description is output after the element. This is the default.
 *   - invisible: The description is output after the element, hidden visually
 *     but available to screen readers.
 * - children: A rendered form input (e.g., <input>, <select>, <textarea>).
 *
 * @see form-element.html.twig
 */
#}
{% if labelDisplay == 'after' -%}
  {%
    set classes = [
      'tw-flex',
      'tw-items-start',
    ]
  %}
{% else -%}
  {% set classes = [] %}
{%- endif %}
{%
  set descriptionClasses = [
    'tw-text-gray-500',
    'dark:tw-text-gray-300',
    'tw-text-sm',
    'md:tw-text-base',
    descriptionDisplay == 'invisible' ? 'tw-sr-only' : '',
  ]
%}
{% if descriptionDisplay == 'after' and labelDisplay != 'after' %}
  {% set descriptionClasses = descriptionClasses|merge(['tw-mt-2']) %}
{% endif %}
<div{{ attributes.addClass(classes) }}>
  {% if labelDisplay in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}
  {% if descriptionDisplay == 'before' and description.content %}
    <div{{ description.attributes.addClass(descriptionClasses) }}>
      {{ description.content }}
    </div>
  {% endif %}
  {% if labelDisplay == 'after' %}
    <div class="tw-flex tw-items-center tw-h-7">
  {% endif %}
      {% if prefix is not empty or suffix is not empty %}
        <div class="tw-mt-1 tw-flex tw-rounded">
      {% endif %}
          {% if prefix is not empty %}
            <span class="tw-inline-flex tw-items-center tw-px-3 tw-rounded-l tw-border tw-border-r-0 tw-border-gray-300 tw-bg-gray-50 tw-text-gray-600 tw-text-sm md:tw-text-base">{{ prefix }}</span>
          {% endif %}
          {{ children }}
          {% if suffix is not empty %}
            <span class="tw-inline-flex tw-items-center tw-px-3 tw-rounded-r tw-border tw-border-l-0 tw-border-gray-300 tw-bg-gray-50 tw-text-gray-600 tw-text-sm md:tw-text-base">{{ suffix }}</span>
          {% endif %}
      {% if prefix is not empty or suffix is not empty %}
        </div>
      {% endif %}
  {% if labelDisplay == 'after' %}
    </div>
    <div class="tw-ml-3">
      {{ label }}
  {% endif %}
      {% if descriptionDisplay in ['after', 'invisible'] and description.content %}
        <div{{ description.attributes.addClass(descriptionClasses) }}>
          {{ description.content }}
        </div>
      {% endif %}
      {% if errors %}
        <div class="tw-text-negative tw-text-sm md:tw-text-base tw-font-medium tw-mt-1">
          {{ errors }}
        </div>
      {% endif %}
  {% if labelDisplay == 'after' %}
    </div>
  {% endif %}
</div>
