{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages>
{% for type, messages in message_list %}
  {% set messageAttributes = create_attribute() %}
  {% set role = (type == 'error') ? 'alert' : 'status' %}
  {% set labelAttributes = create_attribute() %}
  {% if status_headings[type] -%}
    {% set labelAttributes = labelAttributes.addClass(['tw-sr-only']) %}
    {% set label = status_headings[type] %}
  {% else %}
    {% set label = '' %}
  {%- endif %}
  {% if messages|length > 1 -%}
    {% set content = '<ul>' %}
    {% for message in messages %}
      {% set content = content ~ '<li>' ~ message ~ '</li>' %}
    {% endfor %}
    {% set content = content ~ '</ul>' %}
  {% else -%}
    {% set content = messages|first %}
  {% endif %}
  {% if type == 'error' -%}
    {% set status = 'negative' %}
  {% elseif type == 'warning' -%}
    {% set status = 'notice' %}
  {% else -%}
    {# type == 'status' #}
    {#
      Drupal's messaging service doesn't distinguish between neutral ('info')
      messages and success confirmation ('positive') messages, so we have to
      choose one. Given that the status messages most commonly seen by users are
      to confirm a successful node save or form submission, 'positive' makes the
      most sense.
    #}
    {% set status = 'positive' %}
  {% endif %}
  {%
    set messageVars = {
      'attributes': messageAttributes.setAttribute('role', role),
      'labelAttributes': labelAttributes,
      'label': label,
      'level': 2,
      'content': content,
      'status': status,
    }
  %}
  {% include '@molecules/message/message.twig' with messageVars only %}
{% endfor %}
</div>
