{#
/**
 * @file
 * Search component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the search wrapper element.
 * - textAttributes: A list of HTML attributes for the input text element.
 * - iconAttributes: A list of HTML attributes for the search icon.
 * - buttonAttributes: A list of HTML attributes for the input button element.
 * - isDisabled: (optional) Boolean indicating whether the search is disabled.
 * - isReadOnly: (optional) Boolean indicating whether the textfield is readonly.
 * - hasErrors: TRUE if form-element.twig will display an error for this input.
 * - size: (sm|base|lg|xl) Used for scaling the text. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the input is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the input is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the input is against a dark background color and thus should
 *     always use its dark mode color.
 *
 * @see input.html.twig
 */
#}
<div {{ attributes.addClass(['tw-flex']) }}>
  {%
    set textfieldVars = {
      'attributes': textAttributes,
      'type': 'search',
      'isDisabled': isDisabled,
      'isReadOnly': isReadOnly,
      'hasErrors': hasErrors,
      'hasPrefix': false,
      'hasSuffix': true,
      'size': size,
      'colorMode': colorMode,
    }
  %}
  {% include '@atoms/textfield/textfield.twig' with textfieldVars only %}
  {%
    set iconVars = {
      'attributes': iconAttributes.setAttribute('title', 'Search'),
      'prefix': 'fas',
      'icon': 'fa-search',
    }
  %}
  {% set icon %}
    {% include '@atoms/icon/icon.twig' with iconVars only %}
  {% endset %}
  {%
    set buttonVars = {
      'attributes': buttonAttributes,
      'type': 'submit',
      'label': icon,
      'variant': 'secondary',
      'width': 'auto',
      'colorMode': colorMode,
      'isSuffix': true,
      'isDisabled': isDisabled or isReadOnly,
    }
  %}
  {% include '@atoms/button/button.twig' with buttonVars only %}
</div>
