{#
/**
 * @file
 * Link component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the link.
 * - label: The link's text.
 * - href: The link's destination.
 * - variant: Link display setting.  It can have these values:
 *   - 'default': The link renders as a normal text link.  This is the default.
 *   - 'menu': The link renders without the normal text link styles applied and
 *     ignores the size and colorMode parameters. The calling menu is expected
 *     to set appropriate styles via attributes.
 * - size: (sm|base|lg|xl) Used for scaling the text. Default is 'base'.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the link is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the link is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the link is against a dark background color and thus should
 *     always use its dark mode color.
 */
#}
{% set attributes = attributes.setAttribute('href', href) %}
{% set variant = variant ?? 'default' %}
{% set size = size ?? 'base' %}
{% set colorMode = colorMode ?? 'auto' %}
{% if variant != 'menu' -%}
  {%
    set classes = [
      'tw-font-medium',
      'tw-underline',
      'tw-underline-offset-2',
      'focus:tw-outline-none',
      'focus:tw-ring-2',
      'focus:tw-ring-offset-4',
      'focus:tw-ring-blue-500',
      colorMode == 'dark' ? 'tw-text-blue-400' : 'tw-text-blue-700',
      colorMode == 'dark' ? 'hover:tw-text-blue-200' : 'hover:tw-text-blue-900',
      colorMode == 'dark' ? 'focus:tw-ring-offset-gray-800' : 'focus:tw-ring-offset-white',
      colorMode == 'auto' ? 'dark:tw-text-blue-400' : '',
      colorMode == 'auto' ? 'dark:hover:tw-text-blue-200' : '',
      colorMode == 'auto' ? 'dark:focus:tw-ring-offset-gray-800' : '',
    ]
  %}
  {% if size == 'sm' -%}
    {%
      set classes = classes|merge([
        'tw-text-sm',
        'md:tw-text-base',
      ])
    %}
  {% elseif size == 'lg' -%}
    {%
      set classes = classes|merge([
        'tw-text-lg',
        'md:tw-text-xl',
      ])
    %}
  {% elseif size == 'xl' -%}
    {%
      set classes = classes|merge([
        'tw-text-xl',
        'md:tw-text-2xl',
      ])
    %}
  {% else -%}
    {%
      set classes = classes|merge([
        'tw-text-base',
        'md:tw-text-lg',
      ])
    %}
  {%- endif %}
  {% set attributes = attributes.addClass(classes) %}
{%- endif %}
<a{{ attributes }}>
  {%- block label -%}
    {{ label ?? href }}
  {%- endblock -%}
</a>
