{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 * @see dxp_ui_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://wmich.edu",
        "logo": "https://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/logo-primary.svg"
      }
    </script>
    <css-placeholder token="{{ placeholder_token }}">
    <link rel="icon" href="/themes/dxp/dxp_ui/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/themes/dxp/dxp_ui/images/android-chrome-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/dxp/dxp_ui/images/apple-touch-icon.png">
    <link rel="manifest" href="/themes/dxp/dxp_ui/site.webmanifest">
    <link rel="mask-icon" href="/themes/dxp/dxp_ui/images/safari-pinned-tab.svg" color="#f1c500">
    <meta name="msapplication-config" content="/themes/dxp/dxp_ui/browserconfig.xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://use.typekit.net/wif7xfa.css" rel="stylesheet">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
