{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - site_name: The configured name of the site.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.content: The main content of the current page.
 * - page.sidebar: Items for the sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{{ attach_library('dxp_ui/header') }}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-flex',
    'tw-gap-4',
    'tw-p-6',
    'tw-mb-0.5',
    'md:tw-mb-1.5',
    'tw-items-center',
    'tw-max-w-7xl',
    'tw-mx-auto',
  ]
%}
{%
  set searchVars = {
    'attributes': create_attribute(),
    'textAttributes': create_attribute(),
    'iconAttributes': create_attribute(),
    'buttonAttributes': create_attribute(),
    'size': 'sm',
}
%}
<header id="global-header" class="tw-bg-white tw-relative">
  <div class="tw-z-50 tw-top-0 tw-left-0 tw-w-full tw-bg-gold tw-hidden xl:tw-block">
    <div class="tw-flex tw-justify-end tw-items-center tw-max-w-7xl tw-mx-auto">
      <div class="tw-hidden lg:tw-hidden tw-flex-initial tw-p-2">
        <h1>
          <a href="/" rel="home" title="Back to Western Michigan University home page" class="active">
            <img loading="eager" src="https://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/logo-horiz.svg" alt="Western Michigan University" width="280px">
          </a>
        </h1>
      </div>
      <div class="tw-flex tw-flex-auto tw-justify-end tw-items-center">
        <div class="tw-hidden lg:tw-inline-block tw-flex-initial tw-py-2 tw-px-6">
          {{ page.header.dxp_ui_header }}
        </div>
      </div>
      <div class="xl:tw-flex tw-p-2 tw-hidden tw-gap-2">
        <button data-search-button class="tw-flex-initial tw-inline-block tw-w-8 tw-h-8 tw-bg-transparent tw-p-0 tw-align-middle tw-text-brown" aria-controls="dxp_ui_menu_popout">
          {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-search'} only %}
        </button>
        <button data-menu-button class="tw-flex-initial tw-inline-block tw-w-8 tw-h-8 tw-bg-transparent tw-p-0 tw-align-middle" aria-controls="dxp_ui_menu_popout">
          <svg width="32" height="32" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div {{ create_attribute().addClass(classes) }}>
    <div class="lg:tw-inline-block tw-flex-auto">
      <h1 id="site-name">
        <a href="/" rel="home" title="Back to Western Michigan University home page" class="active">
          <img class="sm:tw-inline-block tw-max-w-[15.625rem]" loading="eager" src="/themes/dxp/dxp_ui/images/logo-primary.svg" alt="Western Michigan University" width="100%">
        </a>
      </h1>
    </div>
    <div class="tw-flex tw-flex-none tw-justify-end tw-z-10">
      <div class="tw-hidden xl:tw-block">
        {{ page.header.dxp_ui_main_menu }}
      </div>

      <div class="tw-flex tw-p-2 xl:tw-hidden tw-gap-2">
        <button data-search-button class="tw-flex-initial tw-inline-block tw-w-8 tw-h-8 tw-bg-transparent tw-p-0 tw-align-middle tw-text-brown" aria-controls="dxp_ui_menu_popout">
          {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-search'} only %}
        </button>
        <button data-menu-button class="tw-flex-initial tw-inline-block tw-w-8 tw-h-8 tw-bg-transparent tw-p-0 tw-align-middle" aria-controls="dxp_ui_menu_popout">
          <svg width="32" height="32" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button>
      </div>
    </div>
    <div id="dxp_ui_menu_popout" data-menu class="tw-z-[1000] tw-block tw-justify-end tw-invisible tw-fixed tw-w-full tw-h-full tw-top-0 tw-left-0">
      <div data-menu-overlay class="tw-bg-black tw-opacity-0 tw-transition-opacity tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0"></div>
      <button class="tw-absolute tw-right-80 tw-text-white tw-opacity-0 tw-transition-opacity tw-m-1 tw-pt-2 tw-px-3 tw-pb-1 tw-h-fit" data-menu-close-button>
        {% include '@atoms/icon/icon.twig' with {'prefix':'fas','icon':'fa-times','size':'3xl'} only %}
      </button>
      <div class="tw-fixed tw-w-80 tw-h-full tw-bg-white tw-translate-x-full tw-top-0 tw-right-0 tw-transition-transform tw-overflow-scroll">
        <div class="tw-px-1 tw-py-2">
          {{ page.header.dxp_ui_header }}
        </div>
        <div class="tw-bg-gold tw-p-2">
          <div class="tw-flex-initial tw-p-1">
            {% include '@molecules/search/search.twig' with searchVars only %}
          </div>
        </div>
        <div data-menu-page class="tw-p-4 tw-bg-white tw-border-b-4 tw-border-gray tw-border-solid">
          {{ page.sidebar|without(page.sidebar.dxp_ui_main_menu_mobile,page.sidebar.dxp_ui_social_mobile) }}
        </div>
        <div data-menu-main class="tw-p-4 tw-bg-white tw-border-b-4 tw-border-gray tw-border-solid xl:tw-hidden">
          {{ page.sidebar.dxp_ui_main_menu_mobile }}
        </div>
        <div class="tw-p-4 tw-bg-white">
          {{ page.sidebar.dxp_ui_social_mobile }}
        </div>
      </div>
    </div>
  </div>
</header>
<div class="layout-container">
  {{ page.primary_menu }}
  {{ page.highlighted }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content tw-flow-root">
      {{ page.content }}
    </div>{# /.layout-content #}
  </main>

</div>{# /.layout-container #}
{% if page.footer %}
  {{ page.footer }}
{% endif %}
