{#
/**
 * @file
 * Theme override to display a footer region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - dxp_ui_footer: Contents of the footer menu block.
 * - dxp_ui_social: Contents of the social menu block.
 *
 * @see template_preprocess_region()
 */
#}
{% set colorMode = colorMode ?? 'dark' %}
{% set textContent %}
  <p><strong>Western Michigan University</strong><br><span>Kalamazoo MI 49008-5200 USA</span><br><span>(269) 387-1000</span><br><a href="https://wmich.edu/contact">Contact WMU</a></p>
{% endset %}
{%
  set textVars = {
    'attributes': create_attribute(),
    'content': textContent,
    'withMargin': true,
    'colorMode': colorMode,
  }
%}
{% set linkLabel %}
  <img src="/themes/dxp/dxp_ui/images/reporting{{ colorMode == 'dark' ? '-dark-mode' : '' }}.png" width="150" height="150" alt="Budget &amp; Salary/Compensation Transparency Reporting" loading="lazy">
{% endset %}
{%
  set linkVars = {
    'attributes': create_attribute(),
    'label': linkLabel,
    'href': 'https://wmich.edu/transparency',
    'colorMode': colorMode,
  }
%}
{%
  set classes = [
  'tw-flex',
  'tw-flex-wrap',
  'tw-gap-4',
  'md:tw-gap-6',
  'tw-py-4',
  'sm:tw-py-6',
  'tw-max-w-7xl',
  'tw-mx-auto',
]
%}
<footer class="tw-bg-gray-800 tw-px-8">
  <div{{ attributes.addClass(classes) }}>
    <div class="tw-flex-auto">
      {{ dxp_ui_footer }}
    </div>
    <div class="tw-flex-auto tw-flex tw-flex-wrap tw-gap-4 md:tw-gap-6">
      <div class="tw-flex-initial">
        {% include '@atoms/text/text.twig' with textVars only %}
        {{ dxp_ui_social }}
      </div>
      <div class="tw-flex-initial">
        {% include '@atoms/link/link.twig' with linkVars only %}
      </div>
    </div>
  </div>
</footer>
