{#
/**
 * @file
 * Theme override to display a header region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 * - dxp_ui_header: Contents of the header menu block.
 * - dxp_ui_main_menu: Contents of the main menu block.
 * - site_name: Short site name if available, otherwise site name from conifg.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('dxp_ui/header') }}
{% set colorMode = colorMode ?? 'auto' %}
{%
  set classes = [
    'tw-flex',
    'tw-gap-4',
    'tw-p-6',
    'tw-mb-0.5',
    'md:tw-mb-1.5',
    'lg:tw-pt-20',
    'tw-items-center',
    'tw-max-w-7xl',
    'tw-mx-auto',
  ]
%}
{%
  set searchVars = {
    'attributes': create_attribute(),
    'textAttributes': create_attribute(),
    'iconAttributes': create_attribute(),
    'buttonAttributes': create_attribute(),
    'size': 'sm',
  }
%}
<header id="global-header" class="tw-bg-white tw-relative">
  <div class="tw-absolute tw-z-50 tw-top-0 tw-left-0 tw-w-full tw-bg-gold">
    <div class="tw-flex tw-justify-end tw-items-center tw-max-w-7xl tw-mx-auto">
      <div class="lg:tw-hidden tw-flex-initial tw-p-2">
        <h1>
          <a href="/" rel="home" title="Back to Western Michigan University home page" class="active">
            <img loading="eager" src="https://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/logo-horiz.svg" alt="Western Michigan University" width="280px">
          </a>
        </h1>
      </div>
      <div class="tw-flex tw-flex-auto tw-justify-end tw-items-center">
        <div class="tw-hidden lg:tw-inline-block tw-flex-initial tw-p-2">
          {{ dxp_ui_header }}
        </div>
        <div class="tw-flex-initial tw-p-1">
          {% include '@molecules/search/search.twig' with searchVars only %}
        </div>
        <div class="tw-flex tw-p-2">
          <button data-menu-button class="tw-flex-initial tw-inline-block lg:tw-hidden tw-w-8 tw-h-8 tw-bg-transparent tw-p-0">
            <svg width="32" height="32" viewBox="0 0 100 100">
              <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
              <path class="line line2" d="M 20,50 H 80" />
              <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div {{ attributes.addClass(classes) }}>
    <div class="tw-hidden lg:tw-inline-block tw-flex-auto">
      <h1 id="site-name">
        <a href="/" rel="home" title="Back to Western Michigan University home page" class="active">
          <img class="tw-hidden sm:tw-inline-block tw-max-w-[15.625rem]" loading="eager" src="/themes/dxp/dxp_ui/images/logo-primary.svg" alt="Western Michigan University" width="100%">
        </a>
      </h1>
    </div>
    <div class="tw-flex tw-flex-none tw-justify-end">
      <div data-menu class="tw-z-40 tw-flex tw-flex-col lg:tw-flex-row tw-justify-end tw-invisible lg:tw-visible tw-absolute lg:tw-static tw--translate-y-full lg:tw-translate-y-0 tw-w-full lg:tw-w-auto tw-top-12 tw-mt-0 md:tw-mt-1 lg:tw-mt-0 tw-right-0 tw-transition-transform tw-duration-500 tw-delay-75 lg:tw-transition-none">
        <div data-menu class="tw-flex-initial tw-bg-white">
          <div class="lg:tw-hidden tw-px-1 tw-py-2">
            {{ dxp_ui_header }}
          </div>
          <div class="tw-bg-brown tw-p-4 lg:tw-hidden">
            <h2 class="tw-text-white">{{ site_name }}</h2>
          </div>
          <div class="tw-p-4 lg:tw-p-0 tw-bg-white">
            {{ dxp_ui_main_menu }}
          </div>
        </div>
      </div>
      <div id="menu-overlay" class="tw-z-10 tw-hidden lg:tw-hidden tw-bg-black/75 tw-fixed tw-top-0 tw-left-0 tw-w-full tw-h-full"></div>
    </div>
  </div>
</header>
