{#
/**
 * @file
 * Breadcrumb component.
 *
 * Available variables:
 * - breadcrumb: An array of links. Each link consists of the following properties:
 *   - attributes: A list of HTML attributes for the link.
 *   - href: The link URL.
 *   - label: The link text.
 */
#}
{% if breadcrumb %}
  <nav class="tw-breadcrumb tw-text-sm md:tw-text-base dark:tw-text-gray-50 tw-text-gray-800 tw-py-2 tw-px-8" aria-label="breadcrumb">
    <ol class="tw-max-w-7xl tw-mx-auto">
      {% for item in breadcrumb %}
        {% set item = item|merge({'size': 'sm'}) %}
        <li class="tw-inline-block">
          {% if loop.first %}
            {% embed '@atoms/link/link.twig' with item %}
              {%- block label -%}
                <i class="fas fa-home tw-text-sm" title="Home"></i>
              {%- endblock -%}
            {% endembed %}
          {% elseif loop.last %}
            {{ item.label }}
          {% else %}
            {% if item.href %}
              {% include '@atoms/link/link.twig' with item %}
            {% else %}
              {{ item.label }}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
