{%
  set labelVars = {
    'attributes': headingAttributes.addClass(['tw-mb-1']),
    'label': name,
    'level': 1,
    'size': 'lg',
  }
%}
{% include '@atoms/heading/heading.twig' with labelVars only %}
{% if uses -%}
  <pre class="tw-mb-8">Uses: <code>{{ uses }}</code></pre>
{% else -%}
  <pre class="tw-mb-1">Prefix: <code>{{ prefix }}</code></pre>
  <pre class="tw-mb-8">Icon: <code>{{ icon }}</code></pre>
{%- endif %}
<div class="tw-grid tw-grid-cols-4 lg:tw-grid-cols-8 tw-gap-4">
  {% for size in sizes %}
    <div class="tw-text-center">
      <div class="tw-flex tw-h-12 tw-m-2 tw-mb-4 tw-items-center tw-justify-center">{% include '@atoms/icon/icon.twig' %}</div>
      <p>{{ size }}</p>
    </div>
  {% endfor %}
</div>
