{#
/**
 * @file
 * Accordion component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - items: An array of collection items rendered according to the variant.
 * - variant: (accordion|tabs) Determines whether the visible, clickable
 *   elements are displayed vertically or horizontally.
 * - id: A unique HTML id for the accordion wrapper to append to child elements
 *   as needed.
 */
#}
<div class="tw-px-3">
  {%
    set classes = [
      'accordion',
      'tw-max-w-prose',
      'tw-mx-auto',
      'tw-mb-8',
    ]
  %}
  <div {{ attributes.addClass(classes) }} id="{{ id }}">
    {% for key, item in items %}
    <div class="accordion-item tw-bg-white tw-border tw-border-gray-400">
      {% if item.useHeadingElement and item.heading|render|length > 0 %}
      <h{{ item.level }} class="accordion-header tw-mb-0" id="{{ id }}-heading-{{ key }}">
      {% else %}
      <div class="accordion-header tw-mb-0" id="{{ id }}-heading-{{ key }}">
      {% endif %}
        <button class="
          accordion-button
          collapsed
          tw-relative
          tw-flex
          tw-items-center
          tw-w-full
          tw-py-4
          tw-px-5
          tw-text-xl tw-text-blue-700 tw-text-left
          tw-bg-white
          tw-border-0
          tw-rounded-none
          tw-transition
          tw-decoration-1
          focus-visible:tw-outline-none
          focus-visible:tw-ring-2
          focus-visible:tw-ring-offset-4
          focus-visible:tw-ring-blue-500
          focus-visible:tw-z-10
          hover:tw-underline
          hover:tw-underline-offset-2
          hover:tw-bg-gray-100
        " type="button" data-bs-toggle="collapse" data-bs-target="#{{ id }}-collapse-{{ key }}" aria-expanded="true"
                aria-controls="{{ id }}-collapse-{{ key }}">
          {{ item.heading }}
        </button>
      {% if item.useHeadingElement %}
      </h{{ item.level }}>
      {% else %}
      </div>
      {% endif %}
      <div id="{{ id }}-collapse-{{ key }}" class="accordion-collapse collapse" aria-labelledby="{{ id }}-heading-{{ key }}"
           data-bs-parent="#{{ id }}">
        <div class="accordion-body tw-my-4 tw-mx-5">
          {{ item.content }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
