{#
/**
 * @file
 * blockquote component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - textAttributes: A list of HTML attributes for the text component.
 * - text: The quote text.
 * - attribution: The speaker/author of the quote.
 * - citation: The source of the quote.
 * - halign: (left|center|right) The horizontal alignment of the quote. Default
 *   is left.
 * - color: The color of the quotation marks and border. Default is cinnabar.
 */
#}
{% set color = color ?? 'cinnabar' %}
{%
  set classes = [
    'tw-not-prose',
    'tw-p-4',
    'tw-max-w-fit',
    'tw-mx-auto',
    halign == 'left' ? 'tw-text-left' : '',
    halign == 'center' ? 'tw-text-center' : '',
    halign == 'right' ? 'tw-text-right' : ''
  ]
%}
{%
  set quoteClasses = [
    'tw-inline-block',
    'tw-mb-4',
    'tw-mx-14',
    'tw-relative',
    'before:tw-content-[open-quote]',
    'after:tw-content-[close-quote]',
    'before:tw-top-0',
    'after:tw-top-0',
    'before:tw-absolute',
    'after:tw-absolute',
    'before:tw--left-14',
    'after:tw--right-14',
    'before:tw-text-6xl',
    'after:tw-text-6xl',
    'before:tw-font-cooper-black',
    'after:tw-font-cooper-black',
    'tw-px-4',
    halign == 'left' ? 'tw-border-l-2' : '',
    halign == 'right' ? 'tw-border-r-2' : ''
  ]
%}
{% if color == 'blue' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-blue',
      'before:tw-text-blue',
      'after:tw-text-blue'
    ])
  %}
{% elseif color == 'brown' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-brown',
      'before:tw-text-brown',
      'after:tw-text-brown'
    ])
  %}
{% elseif color == 'cinnabar' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-cinnabar',
      'before:tw-text-cinnabar',
      'after:tw-text-cinnabar'
    ])
  %}
{% elseif color == 'cool_gray' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-coolGray-300',
      'before:tw-text-coolGray-300',
      'after:tw-text-coolGray-300'
    ])
  %}
{% elseif color == 'gold' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-gold',
      'before:tw-text-gold',
      'after:tw-text-gold'
    ])
  %}
{% elseif color == 'gray' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-gray',
      'before:tw-text-gray',
      'after:tw-text-gray'
    ])
  %}
{% elseif color == 'green' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-green',
      'before:tw-text-green',
      'after:tw-text-green'
    ])
  %}
{% elseif color == 'lilac' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-lilac',
      'before:tw-text-lilac',
      'after:tw-text-lilac'
    ])
  %}
{% elseif color == 'red' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-red',
      'before:tw-text-red',
      'after:tw-text-red'
    ])
  %}
{% elseif color == 'teal' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-teal',
      'before:tw-text-teal',
      'after:tw-text-teal'
    ])
  %}
{% elseif color == 'warm_gray' %}
  {%
    set quoteClasses = quoteClasses|merge([
      'tw-border-gray-700',
      'before:tw-text-gray-700',
      'after:tw-text-gray-700'
    ])
  %}
{% endif %}
{%
  set captionClasses = [
    'tw-text-sm',
    'tw-mb-4',
    halign == 'left' ? 'tw-pl-24' : '',
    halign == 'right' ? 'tw-pr-[4.75rem]' : ''
  ]
%}
<div class="tw-max-w-7xl tw-mx-auto">
  <figure {{ attributes.addClass(classes) }}>
    <div class="tw-inline-block">
      <blockquote class="{{ quoteClasses|join(' ') }}">
        {%
          set textVars = {
            'attributes': text|length > 100 ? textAttributes : textAttributes.addClass(['tw-font-extrabold']),
            'content': text,
            'size': text|length > 100 ? 'base' : 'xl'
          }
        %}
        {% include '@atoms/text/text.twig' with textVars only %}
      </blockquote>
    </div>
    <figcaption class="{{ captionClasses|join(' ') }}">
      <em>— {{ attribution }}
      {{ attribution is not empty and citation is not empty ? ', ' : '' }}
        <cite>
          {{ citation }}
        </cite>
      </em>
    </figcaption>
  </figure>
</div>
