{%
  set labelVars = {
    'attributes': attributes.addClass(['tw-mb-8']),
    'label': name,
    'level': 1,
    'size': 'lg',
  }
%}
{% include '@atoms/heading/heading.twig' with labelVars only %}
{% set modifiers = [50, 100, 200, 300, 400, 500, 600, 700, 800, 900] %}
<div class="tw-grid tw-grid-cols-1 tw-gap-8 tw--m-4 tw-p-4 {{ background }} {{ darkModeBackground }}">
  {% for color in colors %}
  <div>
    <div class="tw-flex tw-flex-col tw-space-y-3 sm:tw-flex-row tw-text-xs sm:tw-space-y-0 sm:tw-space-x-4">
      <div class="tw-w-32 tw-flex-shrink-0">
        <div class="tw-h-10 tw-flex tw-flex-col tw-justify-center">
          <div class="tw-text-sm tw-font-semibold tw-text-gray-900 dark:tw-text-gray-50">{{ color.name }}</div>
          {% if color.default %}<div class="tw-text-xs tw-text-gray-600 dark:tw-text-gray-400">DEFAULT = {{ color.default }}</div>{% endif %}
        </div>
      </div>
      <div class="tw-min-w-0 tw-flex-1 tw-grid tw-grid-cols-5 2xl:tw-grid-cols-10 tw-gap-x-4 tw-gap-y-3 2xl:tw-gap-x-2">
      {% set j = 0 %}
      {% for i in 0..9 %}
        {% set swatch = color.swatches[j] %}
        <div class="tw-space-y-1.5">
        {% if swatch.modifier == modifiers[i] or swatch.modifier is empty or color.name in ["Primary", "Neutral", "Accent", "Info", "Notice", "Positive", "Negative"] %}
          <div class="tw-h-10 tw-w-full tw-rounded tw-ring-1 tw-ring-inset tw-ring-black tw-ring-opacity-0 {{ swatch.class }}"></div>
          <div class="tw-px-0.5 md:tw-flex md:tw-justify-between md:tw-space-x-2 2xl:tw-space-x-0 2xl:tw-block">
            <div class="tw-w-6 tw-font-medium tw-text-gray-900 dark:tw-text-gray-50">{{ swatch.modifier }}</div>
            <div class="tw-text-gray-600 dark:tw-text-gray-400">{% if displayColorValueAs == "hsl" %}{{ swatch.hsl }}{% else %}{{ swatch.hex }}{% endif %}</div>
          </div>
          {% if swatch.contrast %}
            {% for contrast in swatch.contrast %}
              <div class="tw-px-0.5 md:tw-flex md:tw-justify-between md:tw-space-x-2"><div class="tw-w-7 tw-font-medium tw-text-gray-900 dark:tw-text-gray-50">{{ contrast.standard }}</div><div class="dark:tw-hidden {{ contrast.light.classes }}">{{ contrast.light.text }}</div><div class="tw-hidden dark:tw-inline {{ contrast.dark.classes }}">{{ contrast.dark.text }}</div></div>
            {% endfor %}
          {% endif %}
          {% set j = j + 1 %}
        {% endif %}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
