{%
  set labelVars = {
    'attributes': labelAttributes,
    'label': name,
    'level': 1,
    'size': 'lg',
    'withMargin': true,
  }
%}
{% include '@atoms/heading/heading.twig' with labelVars only %}

{%
  set descriptionVars = {
    'attributes': descriptionAttributes,
    'content': description,
    'withMargin': true,
    'center': false,
  }
%}
{% include '@atoms/text/text.twig' with descriptionVars only %}

{% for item in items %}

  {%
    set headingVars = {
      'attributes': item.headingAttributes,
      'label': item.heading,
      'level': 2,
      'size': 'md',
      'withMargin': true,
    }
  %}
  {% include '@atoms/heading/heading.twig' with headingVars only %}

  {%
    set sampleVars = {
      'attributes': item.sampleAttributes,
      'content': item.sample,
      'withMargin': true,
      'center': false,
    }
  %}
  {% include '@atoms/text/text.twig' with sampleVars only %}

{% endfor %}
