{#
/**
 * @file
 * Hero component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - media: The media component.
 * - captionAttributes: A list of HTML attributes for the figcaption.
 * - callout: The callout component.
 * - halign: (left|center|right) The horizontal position of the text box.
 *   Default is left.
 * - valign: (top|middle|bottom) The vertical position of the text
 *   box. Default is middle.
 * - width: (full, 1/2, 1/3) Width of the text box.  Default is full.
 */
#}
{{ attach_library('dxp_ui/hero') }}
{% set halign = halign ?? 'left' %}
{% set valign = valign ?? 'middle' %}
{% set width = width ?? 'fit' %}
{%
  set class = [
    'tw-relative',
    'tw-w-full',
  ]
%}
{%
  set captionClasses = [
    'lg:tw-absolute',
    'tw-bg-gray-800',
    'tw-p-8',
    halign == 'left' ? 'lg:tw-left-8' : '',
    halign == 'center' ? 'lg:tw-left-1/2' : '',
    halign == 'center' ? 'lg:tw--translate-x-1/2' : '',
    halign == 'right' ? 'lg:tw-right-8' : '',
    valign == 'top' ? 'lg:tw-top-8' : '',
    valign == 'middle' ? 'lg:tw-top-1/2' : '',
    valign == 'middle' ? 'lg:tw--translate-y-1/2' : '',
    'tw-w-full',
    width == '3/4' ? 'lg:tw-max-w-[75%]' : '',
    width == '2/3' ? 'lg:tw-max-w-[66.66%]' : '',
    width == '1/2' ? 'lg:tw-max-w-[50%]' : '',
    width == '1/3' ? 'lg:tw-max-w-[33.33%]' : '',
    width == '1/4' ? 'lg:tw-max-w-[25%]' : '',
    width == 'fit' ? 'lg:tw-w-fit' : '',
  ]
%}
{% if halign == 'center' and valign == 'bottom' and width == 'full' %}
  {%
    set captionClasses = captionClasses|merge([
      'lg:tw-bg-transparent',
      'lg:tw-pt-40',
      'lg:tw-bg-gradient-to-b',
      'lg:tw-from-transparent',
      'lg:tw-to-black',
      'lg:tw-bottom-0',
    ])
  %}
{% else %}
  {%
    set captionClasses = captionClasses|merge([
      'lg:tw-w-fit',
      'lg:tw-bg-black/75',
      valign == 'bottom' ? 'lg:tw-bottom-8' : '',
    ])
  %}
{% endif %}
<figure{{ attributes.addClass(class) }}>
  <div class="tw-h-[41.66vw]">
    {{ media }}
  </div>
  <figcaption{{ captionAttributes.addClass(captionClasses) }}>
    {{ callout }}
  </figcaption>
</figure>
