{#
/**
 * @file
 * Card component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - media: An image, video or icon.
 * - mediaAspect: (2:3|1:1|4:3|3:2|16:9|auto) Media aspect ratio. Ignored when
 *   the variant is 'horizontal'. Default is 'auto'.
 * - label: Text to display in the card heading.
 * - labelAttributes: A list of HTML attributes for the card heading.
 * - level: An integer 1..6 indicating the heading level to use for the label.
 * - detail: Additional detail text shown with the label.
 * - content: The card text.
 * - contentAttributes: A list of HTML attributes for the card text.
 * - attribution: Attribution of the content.
 * - links: An array of links. Each link consists of the following properties:
 *   - attributes: A list of HTML attributes for the link.
 *   - href: The link URL.
 *   - label: The link text.
 * - size: (sm|md|lg|full) Controls the width of the card. Default is 'md'.
 * - variant: (horizontal|vertical) Controls card layout. Default is 'vertical'.
 * - withActionLinks: Boolean indicating whether to display action links. If
 *   FALSE, the first link href is used to make the whole card clickable, and
 *   the link label and any additional links are ignored.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the link is against the site's default background and thus
 *     should adjust its color as needed for light/dark mode.
 *   - 'light': the link is against a light background color and thus should
 *     always use its light mode color.
 *   - 'dark': the link is against a dark background color and thus should
 *     always use its dark mode color.
 * - halign: (left|center|right) Text alignment of card content.  Left default.
 * - fit: Whether an image of a different aspect ratio than the container should
 *   be cropped or contained and letterboxed, 'cover' or 'contain'.
 */
#}
{% set size = size ?? 'md' %}
{% set variant = media is empty ? 'vertical' : (variant ?? 'vertical') %}
{% set mediaAspect = mediaAspect ?? 'auto' %}
{% set colorMode = colorMode ?? 'auto' %}
{% set hasLinks = links is not empty %}
{% set withActionLinks = hasLinks and withActionLinks %}
{% set halign = halign ?? 'left' %}
{% set fit = fit ?? 'contain' %}
{%
  set classes = [
    'tw-grid',
    'tw-content-start',
    '!tw-place-content-stretch',
    'tw-overflow-hidden',
    'tw-w-full',
    'tw-flex-none',
    hasLinks ? 'tw-rounded' : 'tw-rounded-none',
    hasLinks ? 'tw-border' : 'tw-border-0',
  ]
%}
{% if media is empty and (not hasLinks or (label is empty and detail is empty and content is empty)) %}
  {%
    set classes = classes|merge([
      'tw-bg-transparent',
    ])
  %}
{% else %}
  {%
    set classes = classes|merge([
      colorMode == 'auto' ? 'dark:tw-bg-gray-800' : '',
      colorMode == 'auto' ? 'dark:tw-border-gray-600' : '',
      colorMode == 'dark' ? 'tw-bg-gray-800' : 'tw-bg-white',
      colorMode == 'dark' ? 'tw-border-gray-600' : 'tw-border-gray-300',
    ])
  %}
{% endif %}
{% if halign == 'center' %}
  {%
    set classes = classes|merge([
      'tw-text-center',
    ])
  %}
{% elseif halign == 'right' %}
  {%
    set classes = classes|merge([
      'tw-text-right',
    ])
  %}
{% endif %}
{% if variant == 'horizontal' -%}
  {% if size == 'sm' or size == 'md' -%}
    {#
      If you actively chose to put a sm/md card into horizontal mode, we'll
      assume you know what you're doing and let it apply on all screen sizes.
    #}
    {%
      set classes = classes|merge([
        'tw-grid-cols-card',
        'tw-grid-rows-1',
      ])
    %}
  {% else -%}
    {#
      If your horizontal card is set to lg/full, it's probably because you have
      a long caption. On small screens, the caption text may wrap to several
      lines, resulting in an awkward cropping of the media asset. To avoid this,
      we display the card in vertical mode until the screen is wide enough.
    #}
    {%
      set classes = classes|merge([
        'tw-grid-cols-1',
        'tw-grid-rows-card',
        'sm:tw-grid-cols-card',
        'sm:tw-grid-rows-1',
      ])
    %}
  {%- endif %}
{% else -%}
  {# Default variant == 'vertical' #}
  {%
    set classes = classes|merge([
      'tw-grid-rows-card',
      'tw-grid-cols-1',
    ])
  %}
{%- endif %}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-max-w-[18rem]',
    ])
  %}
{% elseif size == 'md' -%}
  {%
    set classes = classes|merge([
      'tw-max-w-[23.5rem]',
      'sm:tw-w-[23.5rem]',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-max-w-[37.75rem]',
    ])
  %}
{% elseif size == 'xl' -%}
  {% if variant == 'horizontal' %}
    {%
      set classes = classes|merge([
        'tw-max-w-7xl',
      ])
    %}
  {% else %}
    {%
      set classes = classes|merge([
        'tw-max-w-4xl',
      ])
    %}
  {% endif %}
{%- endif %}
{%
  set captionClasses = [
    'tw-flex',
    'tw-flex-col',
    'tw-max-w-prose',
    'tw-mx-auto',
    'tw-w-full',
  ]
%}
{%
  set mediaClasses = [
    'tw-child-w-full',
    'tw-child-h-full',
    fit == 'cover' ? 'tw-child-object-cover' : 'tw-child-object-contain',
    'tw-child-object-center',
    'tw-text-center',
    colorMode == 'auto' ? 'dark:tw-bg-gray-900' : '',
    colorMode == 'auto' ? 'dark:tw-text-gray-200' : '',
    colorMode == 'dark' ? 'tw-bg-gray-900' : 'tw-bg-gray-100',
    colorMode == 'dark' ? 'tw-text-gray-200' : 'tw-text-gray-900',
  ]
%}
{% if hasLinks -%}
  {%
    set captionClasses = captionClasses|merge([
      'tw-p-4',
      'md:tw-p-6',
    ])
  %}
{% else -%}
  {# No links. #}
  {%
    set captionClasses = captionClasses|merge([
      variant == 'vertical' ? 'tw-py-4' : 'tw-p-4',
      variant == 'vertical' ? 'md:tw-py-6' : 'md:tw-p-6',
    ])
  %}
{%- endif %}
{% if variant == 'vertical' or size == 'lg' or size == 'full' -%}
  {% if mediaAspect == '2:3' -%}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-2/3',
      ])
    %}
  {% elseif mediaAspect == '1:1' -%}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-1',
      ])
    %}
  {% elseif mediaAspect == '4:3' -%}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-4/3',
      ])
    %}
  {% elseif mediaAspect == '3:2' -%}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-3/2',
      ])
    %}
  {% elseif mediaAspect == '16:9' -%}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-16/9',
      ])
    %}
  {% else -%}
    {# Default mediaAspect == 'auto' #}
    {%
      set mediaClasses = mediaClasses|merge([
        'tw-aspect-auto',
      ])
    %}
  {%- endif %}
{%- endif %}
{% if mediaAspect != 'auto' and variant == 'horizontal' and (size == 'lg' or size == 'xl' or size == 'full') -%}
  {%
    set mediaClasses = mediaClasses|merge([
      'sm:tw-aspect-auto',
    ])
  %}
{%- endif %}
{%
  set detailClasses = [
    'tw-my-2',
    'first:tw-mt-0',
    'last:tw-mb-0',
    'tw-text-xs',
    'md:tw-text-sm',
    colorMode == 'auto' ? 'dark:tw-text-gray-400' : '',
    colorMode == 'dark' ? 'tw-text-gray-400' : 'tw-text-gray-600',
  ]
%}
{% if withActionLinks or not hasLinks -%}
  {% set wrapperTag = 'div' %}
{% else -%}
  {# Make the whole card clickable. #}
  {% set attributes = attributes.setAttribute('href', links[0].href) %}
  {% set wrapperTag = 'a' %}
  {%
    set classes = classes|merge([
      'tw-outline-none',
      'focus:tw-ring-1',
      'focus:tw-ring-gold',
      'focus:tw-border-gold',
      'hover:tw-ring-1',
      'hover:tw-ring-gold',
      'hover:tw-border-gold',
      colorMode == 'auto' ? 'dark:focus:tw-ring-gold' : '',
      colorMode == 'auto' ? 'dark:focus:tw-border-gold' : '',
      colorMode == 'auto' ? 'dark:hover:tw-ring-gold' : '',
      colorMode == 'auto' ? 'dark:hover:tw-border-gold' : '',
      colorMode == 'auto' ? 'dark:focus:tw-bg-trueGray-900' : '',
      colorMode == 'auto' ? 'dark:hover:tw-bg-trueGray-900' : '',
      colorMode == 'dark' ? 'focus:tw-bg-trueGray-900' : 'focus:tw-bg-trueGray-100',
      colorMode == 'dark' ? 'hover:tw-bg-trueGray-900' : 'hover:tw-bg-trueGray-100',
    ])
  %}
{%- endif %}
<{{ wrapperTag }}{{ attributes.addClass(classes) }}>
  {% if media -%}
    <div class="{{ mediaClasses|join(' ') }}">
      {{ media }}
    </div>
  {%- endif %}
  {% if label or detail or content or withActionLinks -%}
    <div class="{{ captionClasses|join(' ') }}">
      {% if label -%}
        {%
          set labelVars = {
            'attributes': labelAttributes,
            'label': label,
            'level': level,
            'size': media is empty and not hasLinks ? 'lg' : 'sm',
            'weight': 'medium',
            'colorMode': colorMode,
            'withMargin': (detail is empty),
          }
        %}
        {% include '@atoms/heading/heading.twig' with labelVars only %}
      {%- endif %}
      {% if detail -%}
        <div class="{{ detailClasses|join(' ') }}">{{ detail }}</div>
      {%- endif %}
      {% if content -%}
        {%
          set contentVars = {
            'attributes': contentAttributes,
            'content': content,
            'size': 'sm',
            'colorMode': colorMode,
          }
        %}
        {% include '@atoms/text/text.twig' with contentVars only %}
      {%- endif %}
      {% if attribution -%}
        {%
          set attributionClasses = [
            'tw-italic',
            'tw-text-sm',
            'md:tw-text-base',
            colorMode == 'auto' ? 'dark:tw-text-gray-50' : '',
            colorMode == 'dark' ? 'tw-text-gray-50' : 'tw-text-gray-600',
        ]
        %}
        <div class="{{ attributionClasses|join(' ') }}">&mdash;{{ attribution }}</div>
      {%- endif %}
      {% if withActionLinks -%}
        <div class="tw-mt-4 first:tw-mt-0 tw-flex-1 tw-flex tw-flex-row tw-flex-wrap tw-gap-2 tw-items-end tw-content-end">
          {% for link in links %}
            {% if link.label and link.href -%}
              {%
                set linkVars = {
                  'attributes': link.attributes.setAttribute('href', link.href),
                  'type': 'link',
                  'label': link.label,
                  'variant': loop.first ? 'primary' : 'secondary',
                  'size': 'sm',
                  'width': (variant == 'horizontal' and (size == 'lg' or size == 'xl' or size == 'full')) ? 'responsive' : 'full',
                  'isQuiet': true,
                  'colorMode': colorMode,
                }
              %}
              {% include '@atoms/button/button.twig' with linkVars only %}
            {%- endif %}
          {% endfor %}
        </div>
      {%- endif %}
    </div>
  {%- endif %}
</{{ wrapperTag }}>
