/* phpcs:disable Drupal.CSS.ClassDefinitionNameSpacing.BlankLinesFound */
/* phpcs:disable Drupal.CSS.ClassDefinitionNameSpacing.SeletorSingleLine */
/* phpcs:disable Squiz.CSS.ColonSpacing.NoneAfter */
/* phpcs:disable Squiz.CSS.Indentation.BlankLine */
/* phpcs:disable Squiz.CSS.MissingColon.Found */
/* phpcs:disable Squiz.CSS.SemicolonSpacing.NotAtEnd */
@import "~@splidejs/splide/dist/css/splide.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-placeholder-italic::placeholder {
    font-style: italic;
  }
  .tw-underline-offset-2 {
    text-underline-offset: 2px;
  }

  /* Aspect ratio */
  @variants responsive {
    .tw-aspect-auto {
      aspect-ratio: auto;
    }
    .tw-aspect-2\/3 {
      aspect-ratio: 2 / 3;
    }
    .tw-aspect-1 {
      aspect-ratio: 1;
    }
    .tw-aspect-4\/3 {
      aspect-ratio: 4 / 3;
    }
    .tw-aspect-3\/2 {
      aspect-ratio: 3 / 2;
    }
    .tw-aspect-16\/9 {
      aspect-ratio: 16 / 9;
    }

    /* Utilities to make it easier for components to manage media rendered by Drupal */
    .tw-child-w-full > *,
    .tw-child-w-full > picture > img {
      width: 100%;
    }
    .tw-child-h-full > *,
    .tw-child-h-full > picture > img {
      height: 100%;
    }
    .tw-child-object-cover > *,
    .tw-child-object-cover > picture > img {
      object-fit: cover;
    }
    .tw-child-object-contain > *,
    .tw-child-object-contain > picture > img {
      object-fit: contain;
    }
    .tw-child-object-center > *,
    .tw-child-object-center > picture > img {
      object-position: center;
    }
  }

  /* Checkboxes and radio buttons */
  .tw-bg-checkedCheckboxDark {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%233c3734' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
  }
  .tw-bg-checkedRadioDark {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%233c3734' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  }

  /* Breadcrumbs */
  .tw-breadcrumb li + li::before {
    content: " \203a ";
    @apply tw-px-2;
  }

  .tw-prose {
    max-width: 80ch;
  }
  .tw-max-w-prose {
    max-width: 80ch;
  }
}

@layer components {
  /* DXP UI Menu */
  .dxp-ui-menu a {
    @apply tw-px-3 tw-py-2 tw-w-full tw-block tw-underline-offset-2;
    @apply hover:tw-underline;
    @apply focus-visible:tw-outline-none;
    @apply focus-visible:tw-ring-2;
    @apply focus-visible:tw-ring-blue-500;
    @apply focus-visible:tw-ring-offset-4;
  }
  .dxp-ui-menu button {
    @apply tw-w-full tw-text-left;
  }
  .dxp-ui-menu button[aria-expanded="true"] {
    @apply tw-bg-gray-100;
  }
  .dxp-ui-menu button > span {
    @apply tw-px-3 tw-py-2 tw-w-full tw-block tw-underline-offset-2 hover:tw-underline;
    @apply focus-visible:tw-outline-none;
    @apply focus-visible:tw-ring-2;
    @apply focus-visible:tw-ring-blue-500;
    @apply focus-visible:tw-ring-offset-4;
  }
  .dxp-ui-menu button > span::after {
    content: "\203a";
    transform: rotate(90deg) translateX(3px);
    line-height: 0;
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 0.75rem;
  }
  .dxp-ui-menu button[aria-expanded="true"] > span::after {
    transform: rotate(-90deg) translate(-3px, -3px);
  }
  .dxp-ui-submenu {
    @apply tw-hidden tw-shadow-none tw-border-0 tw-border-l tw-border-gray-300 tw-ml-4 tw-py-0;
    @apply xl:tw-ml-0;
  }
  .dxp-ui-submenu:not(.dxp-ui-sidebar .dxp-ui-submenu) {
    @apply xl:tw-absolute;
    @apply xl:tw-shadow-md;
    @apply xl:tw-border;
  }
  .dxp-ui-submenu[aria-hidden="false"] {
    @apply tw-block tw-mb-2;
  }
  .dxp-ui-submenu .dxp-ui-submenu {
    @apply tw-static tw-shadow-none tw-border-0 tw-border-l tw-ml-4 tw-py-0 tw-pr-0;
  }
  /* Fallback to a hover menu when JS is disabled. */
  html:not(.js) .dxp-ui-menu li:hover > .dxp-ui-submenu {
    @apply tw-block;
  }
  html:not(.js) .dxp-ui-menu li:focus-within > .dxp-ui-submenu {
    @apply tw-block;
  }

  /* DXP UI Header */
  .line {
    fill: none;
    stroke: #532e1f;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  button[data-sidebar-menu-button] .line {
    stroke: white;
  }

  div[data-menu] h2 {
    @apply tw-font-bold tw-mb-2;
  }
}

/* Override default browser styles so that Tailwind classes apply correctly. */
/*noinspection CssInvalidPseudoSelector */
input[type=file]::file-selector-button {
  /* Set each side separately to override specific styles set by the browser */
  border-top: inherit;
  border-right: inherit;
  border-bottom: inherit;
  border-left: inherit;
}

div[data-vimeo-id] iframe,
iframe[data-video-id][data-provider="youtube"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  pointer-events: none;
}

/* Styles for accordions from tw-elements (bootstrap) */
.accordion-button:not(.collapsed) {
  box-shadow: inset 0 -1px 0 #b4aea7;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" fill=\"%23006a8a\"><path fill-rule=\"evenodd\" d=\"M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\"/></svg>");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 16 16\" fill=\"%23006a8a\"><path fill-rule=\"evenodd\" d=\"M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z\"/></svg>");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
.accordion-item:first-of-type {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}
.collapse:not(.show) {
  display: none;
}
.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

/* Styling for Splidejs */
.splide__arrow {
  background-color: #ccc !important;
}
.splide__pagination__page {
  background-color: #ccc;
}
.splide__pagination__page.is-active {
  background-color: #fff;
}
.thumbnails.splide .splide__slide {
  border: none;
}
.thumbnails.splide .splide__slide.is-active {
  border: none;
}
.thumbnails.splide .splide__slide img {
  opacity: .5;
}
.thumbnails.splide .splide__slide.is-active img {
  opacity: 1;
}
.thumbnails.splide .splide__slide.is-active span {
  background: rgba(0,0,0,.5);
}
.dxp-carousel.splide .splide__slide {
  opacity: 0;
  transition: opacity ease 300ms;
}
.dxp-carousel.splide .splide__slide.is-active,
.dxp-carousel.splide .splide__slide.is-prev,
.dxp-carousel.splide .splide__slide.is-next {
  opacity: 1;
}

.dxp-grid-space {
  container-type: inline-size;
}
.tw-flex > .dxp-grid-space {
  container-type: normal;
}
@container (min-width: 0) {
  @media (min-width: 40rem) {
    .dxp-grid-space .sm\:tw-max-w-xs {
      max-width: unset;
    }
    .dxp-grid-space .sm\:tw-max-h-\[unset\] {
      max-height: unset;
    }
    .dxp-grid-space .sm\:tw-w-4\/12 {
      width: unset;
    }
  }
  @media (min-width: 80rem) {
    .dxp-grid-space .xl\:tw-flex {
      display: unset;
    }
    .dxp-grid-space .xl\:tw-mb-0 {
      margin-bottom: unset;
    }
    .dxp-grid-space .xl\:tw-flex-none {
      flex: unset;
    }
    .dxp-grid-space .xl\:tw-w-64 {
      width: unset;
    }
  }
  .dxp-grid-space .tw-max-h-52 {
    max-height: 13rem;
  }
  .dxp-grid-space .tw-mb-4 {
    margin-bottom: 1rem;
  }
}
@container (min-width: 80rem) {
  .dxp-grid-space .xl\:tw-flex {
    display: flex;
  }
  .dxp-grid-space .xl\:tw-mb-0 {
    margin-bottom: 0;
  }
  .dxp-grid-space .xl\:tw-flex-none {
    flex: none;
  }
  .dxp-grid-space .xl\:tw-w-64 {
    width: 16rem;
  }
}
@container (min-width: 40rem) {
  .dxp-grid-space .sm\:tw-max-w-xs {
    max-width: 20rem;
  }
  .dxp-grid-space .sm\:tw-max-h-\[unset\] {
    max-height: unset;
  }
  .dxp-grid-space .sm\:tw-w-4\/12 {
    width: 33.333333%;
  }
}

/* CKEditor styling */
body.cke_editable {
  padding: .3rem .4rem;
}
