{#
/**
 * @file
 * Header component.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the <header> element.
 * - menuAttributes: A list of HTML attributes for the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - label: The menu item title.
 *   - href: The menu item url.
 *   - inActiveTrail: TRUE if the item is in the active breadcrumb trail.
 *   - type: The type of menu item, as follows:
 *     - 'link': A link.
 *     - 'nolink': An unlinked item.
 *     - 'button': A button that can be clicked to expand subitems.
 *   - children: (optional) Contains a child menu as follows:
 *     - id: A unique HTML ID for the child menu element. This value should also
 *       be set in attributes (below), but is provided separately to work around
 *       issues accessing Attributes properties with Twig.js in Storybook.
 *     - attributes: A list of HTML attributes for the child menu.
 *     - items: An array of child menu items.
 * - colorMode: (auto|light|dark) Modifies the color rendering as follows:
 *   - 'auto': the links are against the site's default background and thus
 *     should adjust their color as needed for light/dark mode.
 *   - 'light': the links are against a light background color and thus should
 *     always use their light mode color.
 *   - 'dark': the links are against a dark background color and thus should
 *     always use their dark mode color.
 */
#}
{% set colorMode = colorMode ?? 'dark' %}
{%
  set globalMenuVars = {
    'attributes': menuAttributes,
    'items': items,
    'variant': 'header',
    'colorMode': colorMode,
  }
%}
{%
  set classes = [
    'tw-flex',
    'tw-flex-wrap',
    'tw-gap-4',
    'md:tw-gap-6',
    'tw-p-4',
    'sm:tw-p-6',
  ]
%}
<header{{ attributes.addClass(classes) }}>
  <div>
    <h1 id="site-name">
      <a href="/" rel="home" title="Back to Western Michigan University home page" class="active"><img class="logo" loading="eager" src="https://wmich.edu/sites/all/themes/wmu/wmu_andalusian/images/logo-primary.svg" alt="Western Michigan University" width="180px"></a>
    </h1>
  </div>
  <div class="tw-flex-auto">
    {% include '@molecules/menu/menu.twig' with globalMenuVars only %}
  </div>
</header>
