{#
/**
 * @file
 * Theme override to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - provider: if remote video, "youtube" or "vimeo".
 *
 * @see template_preprocess_media()
 */
#}
{% if video_id -%}
  <div id="{{ video_id }}" class="tw-w-full tw-h-full tw-object-cover" data-video-id="{{ video_id }}" data-provider="{{ provider }}" {{ provider == 'vimeo' ? 'data-vimeo-id=' ~ video_id }}>
{%- endif %}
{% if provider != "vimeo" -%}
  {{ content }}
{%- endif %}
{% if video_id -%}
  </div>
{%- endif %}
