{#
/**
 * @file
 * Theme override to display an event.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - event_date: content.field_event_start_end but custom formatted.
 * - event_time: content.field_event_start_end but only the times and only
 *   available when only one date range is provided.
 *
 * @see template_preprocess_node()
 */
#}
<article{{ attributes }}>
  <div class="tw-px-8 tw-mb-2">
    <div class="tw-max-w-7xl tw-mx-auto">
      <div class="tw-prose tw-mx-auto md:tw-prose-lg">
        {{ content.field_event_category }}
      </div>
    </div>
  </div>
  {{ title_prefix }}
  {% if label %}
    <div class="tw-px-8 tw-mb-2">
      <div class="tw-max-w-7xl tw-mx-auto">
        <div class="tw-prose tw-mx-auto md:tw-prose-lg">
          {%
            set headingVars = {
              'attributes': title_attributes,
              'level': 1,
              'size': 'lg',
              'weight': 'medium',
              'label': label,
              'color': 'gray',
              'colorMode': 'auto',
              'withMargin': with_margin ?? true,
            }
          %}
          {% if page %}
            {% include '@atoms/heading/heading.twig' with headingVars only %}
          {% else %}
            {%
              set linkVars = {
                'attributes': create_attribute(),
                'label': label,
                'href': url,
                'variant': 'menu',
              }
            %}
            {% set headingLabel %}
              {% include '@atoms/link/link.twig' with linkVars only %}
            {% endset %}
            {%
              set headingVars = headingVars|merge({
                'level': 2,
                'label': headingLabel,
              })
            %}
            {% include '@atoms/heading/heading.twig' with headingVars only %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <div class="tw-px-8">
      <div class="tw-max-w-7xl tw-mx-auto">
        <div class="tw-prose tw-mx-auto md:tw-prose-lg">
          <div{{ author_attributes }}>
            {% trans %}Posted by {{ author_name }}{% endtrans %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% set children %}
    <div class="tw-relative">
      <div class="tw-absolute tw-w-5 tw-text-center">
        {% include '@atoms/icon/icon.twig' with { 'prefix': 'fas', 'icon': 'fa-calendar-alt', 'size': 'base' } only %}
      </div>
      <label class="tw-sr-only">Date:</label>
      <div class="tw-align-top tw-ml-9">
        {% for item in event_date %}
          {{ item }}<br />
        {% endfor %}
      </div>
    </div>
    {% if event_time %}
      <div class="tw-relative">
        <div class="tw-absolute tw-w-5 tw-text-center">
          {% include '@atoms/icon/icon.twig' with { 'prefix': 'fas', 'icon': 'fa-clock', 'size': 'base' } only %}
        </div>
        <label class="tw-sr-only">Time:</label>
        <div class="tw-align-top tw-ml-9">
          {{ event_time }}
        </div>
      </div>
    {% endif %}
    {% if content.field_event_location[0] is not empty or content.field_event_virtual_link[0] is not empty %}
      <div class="tw-relative">
        <div class="tw-absolute tw-w-5 tw-text-center">
          {% include '@atoms/icon/icon.twig' with { 'prefix': 'fas', 'icon': 'fa-map-marker-alt', 'size': 'base' } only %}
        </div>
        <label class="tw-sr-only">Location:</label>
        <div class="tw-align-top tw-ml-9">
          <div class="tw-not-prose">
            {% if content.field_event_location[0] is not empty %}
              {{ content.field_event_location }}
            {% endif %}
          </div>
          {% if content.field_event_virtual_link[0] is not empty %}
            {{ content.field_event_virtual_link }}
          {% endif %}
        </div>
      </div>
    {% endif %}
    {% if content.field_event_offer[0] is not empty %}
      <div class="tw-relative">
        <div class="tw-absolute tw-w-5 tw-text-center">
          {% include '@atoms/icon/icon.twig' with { 'prefix': 'fas', 'icon': 'fa-money-bill-alt', 'size': 'base' } only %}
        </div>
        <label class="tw-sr-only">Cost:</label>
        <div class="tw-align-top tw-ml-9">
          {{ content.field_event_offer }}
        </div>
      </div>
    {% endif %}
    {% if content.field_event_contact[0] is not empty %}
      <div class="tw-relative">
        <div class="tw-absolute tw-w-5 tw-text-center">
          {% include '@atoms/icon/icon.twig' with { 'prefix': 'fas', 'icon': 'fa-envelope', 'size': 'base' } only %}
        </div>
        <label class="tw-sr-only">Contact:</label>
        <div class="tw-align-top tw-ml-9">
          {{ content.field_event_contact }}
        </div>
      </div>
    {% endif %}
  {% endset %}

  {%
    set asideVars = {
      'attributes': content_attributes.addClass(['tw-prose', 'tw-flex', 'tw-flex-col', 'tw-gap-4']),
      'float': 'right',
      'children': children,
      'size': 'fit',
    }
  %}
  <div class="md:tw-mr-8">
    {% include '@organisms/aside/aside.twig' with asideVars only %}
  </div>

  {% if not page %}
  <div{{ content_attributes }}>
    {% endif %}
    {{ content|without('field_event_start_end','field_event_location','field_event_contact', 'field_event_category', 'field_event_offer', 'field_event_status', 'field_event_virtual_link') }}
    {% if not page %}
  </div>
  {% endif %}

</article>
