{#
/**
 * @file
 * Theme override for a collection item paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - heading_level: The heading level (1..6) to use for the paragraph's heading.
 * - aspect_ratio: Aspect ratio of the item's media.
 * - orientation: The item's orientation, 'horizontal' or 'vertical'.
 * - show_links: Whether to display links on the item.
 * - size: Controls the size of the item.
 * - color_mode: Controls item rendering in light/dark mode.
 * - fit: Whether an image of a different aspect ratio than the container should
 *   be cropped or contained and letterboxed, 'cover' or 'contain'.
 *
 * @see template_preprocess_paragraph()
 * @see dxp_ui_preprocess_paragraph()
 * @see dxp_collection_preprocess_paragraph__collection_item()
 *
 * @ingroup themeable
 */
#}
{% set links = [] %}
{% for key, link in content.field_collection_item_links if key|first != '#' -%}
  {% if link['#url']|render -%}
    {%
      set links = links|merge([{
        'attributes': create_attribute(),
        'href': link['#url']|render,
        'label': link['#title']|render,
      }])
    %}
  {%- endif %}
{%- endfor %}
{%
  set vars = {
    'attributes': attributes,
    'media': content.field_media|render|trim|length ? content.field_media : '',
    'mediaAspect': aspect_ratio,
    'label': content.field_heading|render|trim|length ? content.field_heading : '',
    'labelAttributes': create_attribute(),
    'level': heading_level,
    'detail': content.field_detail|render|trim|length ? content.field_detail : '',
    'content': content.field_body|render|trim|length ? content.field_body : '',
    'contentAttributes': create_attribute(),
    'attribution': content.field_attribution|render|trim|length ? content.field_attribution : '',
    'links': links,
    'size': size,
    'variant': orientation,
    'withActionLinks': show_links,
    'colorMode': color_mode,
    'halign': halign == 'center' ? 'center' : 'left',
    'fit': fit,
  }
%}
{% if view_mode == 'card' -%}
  {% include '@molecules/card/card.twig' with vars only %}
{% elseif view_mode == 'carousel' -%}
  {% include '@molecules/card/card.twig' with vars only %}
{% elseif view_mode == 'gallery' -%}
  {%
    set vars = {
      'attributes': attributes,
      'media': content.field_media|render|trim|length ? content.field_media : '',
      'mediaAspect': aspect_ratio,
      'captionAttributes': create_attribute(),
      'calloutAttributes': create_attribute(),
      'heading': content.field_heading|render|trim|length ? content.field_heading : '',
      'headingAttributes': create_attribute(),
      'headingLevel': heading_level,
      'text': content.field_body|render|trim|length ? content.field_body : '',
      'textAttributes': create_attribute(),
      'attribution': content.field_attribution|render|trim|length ? content.field_attribution : '',
      'links': links,
      'linkDisplay': 'primary_secondary',
      'halign': halign,
      'valign': valign,
      'overlayCaption': overlay_caption,
      'width': paragraph.field_width.0.value,
      'fit': fit,
    }
  %}
  {% include '@organisms/slide/slide.twig' with vars only %}
{% elseif view_mode == 'split' -%}
  {# @todo split.twig #}
{% else -%}
  {# if view_mode == 'list' #}
  {%
    set vars = {
      'attributes': attributes,
      'label': content.field_heading|render|trim|length ? content.field_heading : links[0].label,
      'href': links[0].href,
      'variant': 'default',
      'colorMode': color_mode,
    }
  %}
  {%  if links[0].href %}
    {% include '@atoms/link/link.twig' with vars only %}
  {% else %}
    {{ vars.label }}
  {% endif %}
{%- endif %}
