{#
/**
 * @file
 * Theme override for a callout paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - align: (left|center) Horizontal alignment.
 * - heading_level: The heading level (1..6) to use for the paragraph's heading.
 * - heading_weight: (light|medium|heavy) The style to use for the heading.
 * - size: Passed to callout.twig to control text scaling.
 * - with_margin: Boolean indicating whether to include the bottom margin.
 * - color_mode: Passed to callout.twig to control light/dark rendering.
 *
 * @see template_preprocess_paragraph()
 * @see dxp_ui_preprocess_paragraph()
 * @see dxp_ui_preprocess_paragraph__callout()
 *
 * @ingroup themeable
 */
#}
{% set links = [] %}
{% for key, link in content.field_links if key|first != '#' -%}
  {% if link['#url']|render -%}
    {%
      set links = links|merge([{
        'attributes': create_attribute(),
        'href': link['#url']|render,
        'label': link['#title']|render,
      }])
    %}
  {%- endif %}
{%- endfor %}
{%
  set vars = {
    'attributes': attributes,
    'heading': content.field_heading|render|trim|length ? content.field_heading : '',
    'headingAttributes': create_attribute(),
    'headingLevel': heading_level,
    'headingWeight': heading_weight,
    'text': content.field_body|render|trim|length ? content.field_body : '',
    'textAttributes': create_attribute(),
    'links': links,
    'linkDisplay': paragraph.field_callout_display_links.0.value,
    'align': align,
    'size': size,
    'withMargin': with_margin,
    'colorMode': color_mode,
  }
%}
{% include '@molecules/callout/callout.twig' with vars only %}
