{#
/**
 * @file
 * Image component.
 *
 * Available variables:
 * - sources: The attributes of the <source> tags for this <picture> tag.
 * - img: The fallback image.
 *
 * @see responsive-image.html.twig
 */
#}
{% if sources -%}
<picture>
  {% for sourceAttributes in sources %}
    <source{{ sourceAttributes }}">
  {% endfor %}
{%- endif %}
  {{ img }}
{% if sources -%}
</picture>
{%- endif %}
