{#
/**
 * @file
 * Form component.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see form.html.twig
 */
#}
<form{{ attributes }}>
  <div class="sm:tw-rounded">
    {{ children }}
  </div>
</form>
