{#
/**
 * @file
 * Text component.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - content: The HTML text content.
 * - size: (sm|base|lg|xl) Used for scaling the text. Default is 'base'.
 * - colorMode: ('auto'|'light'|'dark')
 * - withMargin: Boolean indicating whether to set the bottom margin.
 * - center: Boolean indicating whether to horizontally center the text.
 * - withPadding: Boolean indicating whether to include the horizontal padding.
 *
 * @see paragraph--text.html.twig
 */
#}
{% set colorMode = colorMode ?? 'auto' %}
{% set size = size ?? 'base' %}
{% set center = center ?? true %}
{%
  set classes = [
    'tw-prose',
    'tw-w-full',
    center ? 'tw-mx-auto' : '',
    withMargin and not withPadding ? 'tw-mb-8' : '',
    colorMode == 'auto' ? 'dark:tw-prose-dark' : '',
    colorMode == 'dark' ? 'tw-prose-dark' : '',
  ]
%}
{% if size == 'sm' -%}
  {%
    set classes = classes|merge([
      'tw-prose-sm',
      'md:tw-prose',
      colorMode == 'dark' ? 'md:tw-prose-dark' : '',
    ])
  %}
{% elseif size == 'lg' -%}
  {%
    set classes = classes|merge([
      'tw-prose-lg',
      'md:tw-prose-xl',
    ])
  %}
{% elseif size == 'xl' -%}
  {%
    set classes = classes|merge([
      'tw-prose-xl',
      'md:tw-prose-2xl',
    ])
  %}
{% else -%}
  {%
    set classes = classes|merge([
      'md:tw-prose-lg',
    ])
  %}
{%- endif %}
{% if withPadding %}
<div class="tw-px-8 tw-mt-8 {{ withMargin ? 'tw-mb-8' : ''}}">
  <div class="tw-max-w-7xl tw-mx-auto">
{% endif %}
    <div{{ attributes.addClass(classes) }}>
      {% block text_content %}
        {{ content }}
      {% endblock %}
    </div>
{% if withPadding %}
  </div>
</div>
{% endif %}
